Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

default_stages: [commit]
exclude: (migrations/|static/(jquery.*|main.css))
repos:
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      name: black
- repo: https://github.com/pycqa/flake8
  rev: 3.7.9
  hooks:
    - id: flake8
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: ./node_modules/.bin/prettier
      language: node
      stages: [commit]
      files: (.*)\.(js|jsx|ts|tsx|css)$
      args: ["--write"]
    - id: eslint
      name: eslint
      entry: yarn fix:lint
      language: system
      stages: [commit]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
    - id: typescript
      name: typescript
      entry: ./node_modules/.bin/tsc
      language: script
      stages: [push]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ["--fix=lf"]

wip - misc fixes
  listperms.py
  package.json
  webpack.config.js
Due: prettier, eslint, typescript

wip - permissions check sync
  tracker/consumers/processing.py
Due: none

wip - change permissions for first-stage donation processors
  tracker/admin/event.py
Due: none

wip - permissions fixes for admin
  tracker/admin/util.py
Due: none

merge migrations again
  tracker/migrations/0037_add_incentive_timing.py
  tracker/migrations/0039_merge_20240221_2104.py
Due: none

wip - fix more nested queries
  tracker/models/prize.py
  tracker/templates/tracker/prize.html
  tracker/templates/tracker/prizeindex.html
  tracker/views/public.py
  webpack.config.js
Due: prettier, eslint, typescript

wip - no server error when donationbid is missing bid
  tracker/models/bid.py
Due: none

wip - unpin all unopen bids
  tests/test_bid.py
  tracker/models/bid.py
Due: none

wip - correct being able to create/change hidden bids
  tests/apiv2/test_bids.py
  tracker/api/views/bids.py
Due: none

wip - fixed nested query loop in ads endpoint
  tracker/views/api.py
Due: none

fix migrations
  tracker/migrations/0038_add_incentive_timing.py
  tracker/migrations/0038_merge_20240213_2207.py
  tracker/migrations/0039_add_incentive_timing.py
  tracker/migrations/0039_merge_20240221_2104.py
Due: none

always sort donations on read page (#649)
  bundles/processing/modules/donations/DonationsStore.tsx
Due: prettier, eslint, typescript

add video links (#648)
  bundles/common/Permissions.ts
  tests/apiv2/test_runs.py
  tests/apiv2/test_videolinks.py
  tests/test_speedrun.py
  tracker/admin/__init__.py
  tracker/admin/event.py
  tracker/admin/forms.py
  tracker/admin/inlines.py
  tracker/api/serializers.py
  tracker/api/views/run.py
  tracker/migrations/0037_add_video_links.py
  tracker/models/__init__.py
  tracker/models/event.py
Due: prettier, eslint, typescript

[apiv2] Add more fields to runs to match v1 details (#651)
  tests/apiv2/test_runs.py
  tracker/api/serializers.py
Due: none

add `start` field to Milestone model (#647)
  tests/test_api.py
  tests/test_milestone.py
  tests/test_settings.py
  tracker/admin/donation.py
  tracker/migrations/0036_add_milestone_start.py
  tracker/models/donation.py
Due: none

fix Milestone start validation (#654)
  tests/test_milestone.py
  tracker/migrations/0038_milestone_start_zero.py
  tracker/models/donation.py
Due: none

Lint
  bundles/processing/modules/event/EventTotalDisplay.tsx
  bundles/public/apiv2/APITypes.tsx
  bundles/public/util/currency.ts
  tracker/api/serializers.py
Due: prettier, eslint, typescript

Lock DRF to less than 3.15 due to breaking change
  setup.py
Due: none

Lock DRF to less than 3.15 due to breaking change (#660)
  setup.py
Due: none

Remove duplicate
  tests/requirements.txt
Due: none

Merge migrations
  tracker/migrations/0039_merge_20240413_0642.py
Due: none

Set min frac digits to 0 when max is also 0
  bundles/public/util/currency.ts
Due: prettier, eslint, typescript

update viewnames for DRF 3.15 change
  setup.py
  tests/requirements.txt
  tests/util.py
  tracker/api/urls.py
Due: none

remove Django 3.2 from supported versions
  README.md
  azure-pipelines.yml
  setup.py
Due: none

update viewnames for DRF 3.15 change (#671)
  setup.py
  tests/requirements.txt
  tests/util.py
  tracker/api/urls.py
Due: none

remove Django 3.2 from supported versions (#672)
  README.md
  azure-pipelines.yml
  setup.py
Due: none

moving a run over an anchor no longer leaves a gap
  tests/test_speedrun.py
  tracker/models/event.py
  tracker/views/commands.py
Due: none

moving a run over an anchor no longer leaves a gap (#674)
  tests/test_speedrun.py
  tracker/models/event.py
  tracker/views/commands.py
Due: none

incentive timing for bids
  tests/apiv2/test_bids.py
  tracker/admin/bid.py
  tracker/admin/inlines.py
  tracker/api/serializers.py
  tracker/migrations/0039_add_incentive_timing.py
  tracker/models/bid.py
  tracker/models/fields.py
Due: none

wip - re-enable v2 and cap some autocompletes
  tracker/lookups.py
Due: none

wip - donate form supports chains
  bundles/tracker/donation/__tests__/Donate.spec.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - exclude self from uniqueness check
  tracker/models/interstitial.py
Due: none

wip - remove special formatting
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

wip - donation queryset helpers
  tracker/models/donation.py
  tracker/search_feeds.py
  tracker/views/public.py
Due: none

wip - lint fixes
  bundles/public/apiv2/HTTPUtils.tsx
Due: prettier, eslint, typescript

wip - donation consumer test
  tests/test_consumers.py
Due: none

wip - show step description
  bundles/tracker/event_details/EventDetailsTypes.ts
Due: prettier, eslint, typescript

wip - add data to some run pages
  tracker/templates/tracker/run.html
  tracker/templates/tracker/runindex.html
Due: none

wip - add schedule viewer to volunteer emails
  tests/test_event.py
  tracker/admin/event.py
Due: none
