Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

default_stages: [commit]
exclude: (migrations/|static/(jquery.*|main.css))
repos:
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      name: black
- repo: https://github.com/pycqa/flake8
  rev: 3.7.9
  hooks:
    - id: flake8
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: ./node_modules/.bin/prettier
      language: node
      stages: [commit]
      files: (.*)\.(js|jsx|ts|tsx|css)$
      args: ["--write"]
    - id: eslint
      name: eslint
      entry: yarn fix:lint
      language: system
      stages: [commit]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
    - id: typescript
      name: typescript
      entry: ./node_modules/.bin/tsc
      language: script
      stages: [push]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ["--fix=lf"]

wip - correct paths for interstitial editor to avoid redirects
  bundles/admin/interstitials/Editor/index.tsx
Due: prettier, eslint, typescript

wip - donation consumer test
  tests/test_consumers.py
Due: none

wip - total watch shows donation intervals
  bundles/public/api/actions/models.js
  bundles/public/hooks/useFetchDonors.ts
Due: prettier, eslint, typescript

wip - change permissions for first-stage donation processors
  tracker/admin/event.py
Due: none

wip - misc fixes
  listperms.py
  package.json
  webpack.config.js
Due: prettier, eslint, typescript

wip - fix event annotations for postgres
  tracker/models/event.py
Due: none

wip - fix total_watch to handle chained bids
  bundles/public/apiv2/Models.ts
  tracker/admin/bid.py
Due: prettier, eslint, typescript

wip - feed dropdown on total_watch
  bundles/public/apiv2/Endpoints.tsx
  tracker/models/bid.py
Due: prettier, eslint, typescript

wip - lint fixes
  bundles/public/apiv2/HTTPUtils.tsx
Due: prettier, eslint, typescript

wip - fix sidebar wrap
  bundles/processing/modules/layout/SidebarLayout.tsx
Due: prettier, eslint, typescript

wip - correct totalWatch for child bids
  tracker/eventutil.py
Due: none

wip - permissions fixes for admin
  tracker/admin/util.py
Due: none

wip - donate form supports chains
  bundles/tracker/donation/__tests__/Donate.spec.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - fix specs
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  spec/fixtures/bid.ts
Due: prettier, eslint, typescript

wip - donation socket uses v2 serializer for bid
  bundles/public/apiv2/Models.ts
  tracker/eventutil.py
Due: prettier, eslint, typescript

wip - show step description
  bundles/tracker/event_details/EventDetailsTypes.ts
Due: prettier, eslint, typescript

wip - adjust how chain steps display
  bundles/tracker/donation/components/DonationIncentives.tsx
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/partials/chaintable.html
  tracker/templates/tracker/partials/option.html
Due: prettier, eslint, typescript

wip - fix tests
  tests/test_consumers.py
Due: none

wip - show step description
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - child state propagation
  tracker/admin/inlines.py
  tracker/models/bid.py
Due: none

wip - add schedule viewer to volunteer emails
  tests/test_event.py
  tracker/admin/event.py
Due: none

wip - bump minimum to 12 hours
  tracker/models/event.py
Due: none

wip - fix milestone admin search
  tracker/admin/donation.py
Due: none

wip - remove special formatting
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

wip - add next checkpoint and extra formatting to total watch
  webpack.config.js
Due: prettier, eslint, typescript

wip - fix get_recent_donations
  tracker/search_feeds.py
Due: none

wip - just remove edit from schedule dragdrop for now
  bundles/admin/scheduleEditor/speedrunTable.js
Due: prettier, eslint, typescript

wip - more prefetch
  tracker/api/views/run.py
Due: none

wip - ordered runs must have length
  tests/test_api.py
  tests/test_auth.py
  tests/test_interstitial.py
  tests/test_prize.py
  tests/test_speedrun.py
  tracker/api/views/donations.py
  tracker/models/interstitial.py
Due: none

wip - another missing prefetch
  tracker/api/views/interview.py
Due: none

wip - rebase
  tests/test_api.py
Due: none

wip - misc
  tracker/admin/donation.py
  tracker/admin/forms.py
Due: none

wip - public site id support
  README.md
  tests/test_prize.py
  tests/test_settings.py
  tests/test_util.py
  tracker/models/bid.py
  tracker/models/donation.py
  tracker/models/event.py
  tracker/models/prize.py
  tracker/settings.py
  tracker/util.py
Due: none

update react-router to 6.4 (#730)
  bundles/admin/app.js
  bundles/admin/donationProcessing/processPendingBids.tsx
  bundles/admin/donationProcessing/processPendingBidsSpec.tsx
  bundles/admin/index.js
  bundles/admin/interstitials/Editor/index.tsx
  bundles/admin/scheduleEditor/index.js
  bundles/admin/scheduleEditor/indexSpec.tsx
  bundles/processing/App.tsx
  bundles/processing/pages/ProcessDonations.tsx
  bundles/processing/pages/ReadDonations.tsx
  bundles/public/api/index.js
  bundles/public/api/reducers/index.js
  bundles/tracker/App.tsx
  bundles/tracker/donation/__tests__/Donate.spec.tsx
  bundles/tracker/donation/components/Donate.tsx
  bundles/tracker/events/components/EventRouter.tsx
  bundles/tracker/index.tsx
  bundles/tracker/prizes/components/Prize.tsx
  bundles/tracker/prizes/components/PrizeCard.tsx
  bundles/tracker/prizes/components/PrizeCardSpec.tsx
  bundles/tracker/prizes/components/PrizeSpec.tsx
  bundles/tracker/router/RouterUtils.ts
  package.json
  tracker/ui/urls.py
  webpack.config.js
  yarn.lock
Due: prettier, eslint, typescript

ads API v2
  bundles/common/Permissions.ts
  tests/apiv2/test_ads.py
  tests/apiv2/test_events.py
  tests/apiv2/test_runs.py
  tests/randgen.py
  tests/test_api.py
  tests/test_speedrun.py
  tests/util.py
  tracker/api/messages.py
  tracker/api/serializers.py
  tracker/api/urls.py
  tracker/api/views/__init__.py
  tracker/api/views/ad.py
  tracker/api_urls.py
  tracker/migrations/0048_remove_old_ad_permission.py
  tracker/models/interstitial.py
  tracker/views/api.py
Due: prettier, eslint, typescript

ads API v2 (#731)
  bundles/common/Permissions.ts
  tests/apiv2/test_ads.py
  tests/apiv2/test_events.py
  tests/apiv2/test_runs.py
  tests/randgen.py
  tests/test_api.py
  tests/test_speedrun.py
  tests/util.py
  tracker/api/messages.py
  tracker/api/serializers.py
  tracker/api/urls.py
  tracker/api/views/__init__.py
  tracker/api/views/ad.py
  tracker/api_urls.py
  tracker/migrations/0048_remove_old_ad_permission.py
  tracker/models/interstitial.py
  tracker/views/api.py
Due: prettier, eslint, typescript

create/edit Interview on v2
  tests/apiv2/test_ads.py
  tests/apiv2/test_interstitials.py
  tests/apiv2/test_interviews.py
  tests/util.py
  tracker/api/views/interview.py
Due: none

create/edit Interview on v2 (#734)
  tests/apiv2/test_ads.py
  tests/apiv2/test_interstitials.py
  tests/apiv2/test_interviews.py
  tests/util.py
  tracker/api/views/interview.py
Due: none

clean up Milestone V2 API
  tests/apiv2/test_milestone.py
  tests/apiv2/test_milestones.py
  tests/util.py
  tracker/api/messages.py
  tracker/api/serializers.py
  tracker/api/views/milestone.py
Due: none

clean up Milestone V2 API (#735)
  tests/apiv2/test_milestone.py
  tests/apiv2/test_milestones.py
  tests/util.py
  tracker/api/messages.py
  tracker/api/serializers.py
  tracker/api/views/milestone.py
Due: none
