Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_stages: [commit]
exclude: (migrations/|static/(jquery.*|main.css))
repos:
- repo: https://github.com/psf/black
  rev: 19.10b0
  hooks:
    - id: black
      name: black
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.7.9
  hooks:
    - id: flake8
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: ./node_modules/.bin/prettier
      language: node
      stages: [commit]
      files: (.*)\.(js|jsx|ts|tsx|css)$
      args: ["--write"]
    - id: eslint
      name: eslint
      entry: ./node_modules/.bin/eslint
      language: node
      stages: [commit]
      files: (.*)\.(jsx?|tsx?)$
      args: ["--fix", "--quiet"]
    - id: typescript
      name: typescript
      entry: ./node_modules/.bin/tsc
      language: script
      stages: [push]
      pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ["--fix=lf"]

remove eslint complexity rule + more conditional type safety
  .eslintrc
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/prizes/PrizeActions.ts
  bundles/tracker/prizes/PrizeTypes.ts
  bundles/tracker/prizes/components/Prize.tsx
  bundles/tracker/prizes/components/PrizeCard.tsx
  bundles/tracker/prizes/getPrizeRelativeAvailability.ts
Due: prettier, eslint

passing too high of a `limit` param to search api is an error
  tests/test_api.py
  views/api.py
Due: none

Remove Possible Drawbacks section from PR template
  .github/pull_request_template.md
Due: none

[#170376097] randgen cleanup
  randgen.py
  tests/test_donor.py
  tests/test_event.py
  tests/test_prize.py
  tests/test_prizemail.py
Due: none

prizes now cache their prev/next runs
  migrations/0002_add_prev_next_run_to_prize.py
  migrations/0003_populate_prev_next_run.py
  models/event.py
  models/prize.py
  tests/__init__.py
  tests/test_prize.py
  tests/test_speedrun.py
  views/api.py
Due: none

fix donate prizes max height when prizes overflow
  bundles/tracker/donation/components/DonationPrizes.mod.css
Due: prettier

Add Optional Logo to Event
  admin/event.py
  bundles/tracker/events/EventActions.ts
  bundles/tracker/events/EventTypes.ts
  migrations/0004_add_paypal_logo_to_event.py
  models/event.py
  views/donateviews.py
Due: prettier, eslint

remove prize imageurl/file restriction
  models/prize.py
Due: none

fix invalid variable site_header
  admin/event.py
  admin/prize.py
Due: none

prize key winners show in aggregate on the prize list
  randgen.py
  templates/tracker/prizeindex.html
  tests/test_prize.py
Due: none

bump Django version to 1.11.27
  requirements.txt
Due: none

show start/end times on old prize index
  templates/tracker/prizeindex.html
Due: none

wip - add pyppeteer
  azure-pipelines.yml
  requirements.txt
Due: none

new donate form gets all bids
  ui/views.py
Due: none

prize link on donate page works, and works for shortnames
  bundles/tracker/Endpoints.ts
  bundles/tracker/events/EventActions.ts
  bundles/tracker/events/EventActionsSpec.ts
  bundles/tracker/events/EventStore.ts
  bundles/tracker/events/EventStoreSpec.ts
  bundles/tracker/events/components/EventRouter.tsx
  bundles/tracker/prizes/PrizeActions.ts
  bundles/tracker/prizes/PrizeActionsSpec.ts
  bundles/tracker/prizes/PrizeTypes.ts
  karma.conf.js
  spec/fixtures/event.ts
Due: prettier, eslint

bids are ordered explicitly on new donate page
  bundles/tracker/donation/__tests__/Donate.spec.tsx
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/event_details/EventDetailsStore.ts
  bundles/tracker/event_details/EventDetailsStoreSpec.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  karma.conf.js
  spec/fixtures/bid.ts
  ui/views.py
  webpack.config.js
Due: prettier, eslint

legal links are configurable
  azure-pipelines.yml
  bundles/@types/global.d.ts
  bundles/tracker/donation/__tests__/validateDonation.spec.ts
  bundles/tracker/donation/components/Donate.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationPrizes.tsx
  bundles/tracker/event_details/EventDetailsReducer.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  bundles/tracker/events/EventConstants.ts
  bundles/tracker/prizes/components/Prize.tsx
  bundles/tracker/prizes/components/Prizes.tsx
  ci/local.py
  templates/base.html
  templates/tracker/donate.html
  templates/tracker/prize.html
  templates/tracker/prizeindex.html
  templates/ui/index.html
  ui/views.py
  views/common.py
Due: prettier, eslint

display more server errors on the donation form
  .eslintrc
  bundles/@types/matchers-types.d.ts
  bundles/tracker/donation/DonationActions.ts
  bundles/tracker/donation/DonationReducer.ts
  bundles/tracker/donation/DonationReducerSpec.ts
  bundles/tracker/donation/DonationStore.ts
  bundles/tracker/donation/DonationTypes.ts
  bundles/tracker/donation/__tests__/DonationActions.spec.ts
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  bundles/tracker/donation/__tests__/validateDonation.spec.ts
  bundles/tracker/donation/components/Donate.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/donation/components/DonationBids.tsx
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/donation/validateDonation.ts
  bundles/tracker/event_details/EventDetailsActions.ts
  bundles/tracker/event_details/EventDetailsStore.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  bundles/tracker/event_details/searchIncentives.ts
  bundles/tracker/events/EventActions.ts
  bundles/tracker/events/EventTypes.ts
  bundles/tracker/prizes/PrizeActions.ts
  bundles/tracker/prizes/PrizeTypes.ts
  bundles/tracker/prizes/components/Prizes.tsx
  bundles/tracker/runs/RunTypes.ts
  bundles/uikit/ErrorAlert.tsx
  bundles/uikit/Markdown.tsx
  bundles/uikit/RadioGroup.tsx
  forms.py
  karma.conf.js
  spec/entry.js
  spec/matchers.js
Due: prettier, eslint

remove availableNow section from prize page
  bundles/tracker/prizes/components/Prizes.tsx
Due: prettier, eslint

image prize errors say no image instead of broken link
  .eslintrc
  babel.config.js
  bundles/tracker/prizes/PrizeUtils.ts
  bundles/tracker/prizes/components/Prize.tsx
  bundles/tracker/prizes/components/PrizeCard.tsx
  bundles/tracker/prizes/components/PrizeCardSpec.tsx
  bundles/tracker/prizes/components/PrizeSpec.tsx
  package.json
  spec/Suite.tsx
  spec/fixtures/Prize.ts
  spec/matchers.d.ts
  yarn.lock
Due: prettier, eslint

provide runtests.py for running tests in CI
  .gitignore
  api/views.py
  azure-pipelines.yml
  models/__init__.py
  models/log.py
  models/profile.py
  runtests.py
  spec/Suite.tsx
  tests/.gitignore
  tests/__init__.py
  tests/test_api.py
  tests/test_bid.py
  tests/test_donate.py
  tests/test_donor.py
  tests/test_event.py
  tests/test_me.py
  tests/test_mod_filter.py
  tests/test_prize.py
  tests/test_search_filters.py
  tests/test_settings.py
  tests/test_speedrun.py
  tests/test_viewutil.py
  tests/urls.py
  tests/util.py
  ui/views.py
  urls.py
  views/donateviews.py
Due: prettier, eslint

add hashtag field to event
  admin/event.py
  api/serializers.py
  migrations/0005_add_event_hashtag.py
  models/event.py
  views/api.py
Due: none

use stock Django auth views
  api_urls.py
  auth.py
  azure-pipelines.yml
  ci/.env.ci
  ci/local.py
  forms.py
  templates/base.html
  templates/tracker/confirm_registration.html
  templates/tracker/confirm_registration_done.html
  templates/tracker/email/password_reset.html
  templates/tracker/index_blanknav.html
  tests/test_auth.py
  tests/test_forms.py
  tests/urls.py
  ui/urls.py
  urls.py
  views/auth.py
  views/common.py
  views/user.py
  volunteer.py
Due: none

add explicit on_delete handlers to all foreign keys
  migrations/0006_add_on_delete.py
  models/donation.py
  models/event.py
  models/log.py
  models/prize.py
  models/profile.py
Due: none

remove misc deprecation warnings for 2.x
  feeds/runs_calendar.py
  lookups.py
  models/donation.py
  models/prize.py
  prizemail.py
  templates/tracker/partials/language.html
  tests/test_admin.py
  tests/test_api.py
  tests/test_bid.py
  tests/test_donor.py
  tests/test_event.py
  tests/test_prize.py
  tests/util.py
  ui/views.py
  urls.py
  views/api.py
  views/donateviews.py
  views/public.py
  viewutil.py
  volunteer.py
  widgets.py
Due: none

check_migrations can run without toplevel
  .gitignore
  azure-pipelines.yml
  check_migrations.py
  tests/test_settings.py
Due: none

whoops what branch left that there
  forms.py
Due: none

bump django-paypal to 1.0.0
  requirements.txt
Due: none

fix/clean up search annotations
  search_filters.py
  tests/test_api.py
  tests/test_event.py
  tests/util.py
  views/api.py
  views/public.py
Due: none

event field tweaks
  migrations/0007_event_field_tweaks.py
  models/event.py
  tests/test_event.py
Due: none

remove custom tags 'datetime' and 'donor_link'
  migrations/0008_donor_cache_tweaks.py
  models/bid.py
  models/donation.py
  models/prize.py
  randgen.py
  templates/base.html
  templates/tracker/bid.html
  templates/tracker/donation.html
  templates/tracker/donationindex.html
  templates/tracker/donor.html
  templates/tracker/donorindex.html
  templates/tracker/partials/donor_link.html
  templates/tracker/prize.html
  templates/tracker/prizeindex.html
  templates/tracker/runindex.html
  templatetags/donation_tags.py
  tests/test_api.py
  tests/test_bid.py
  tests/test_donation.py
  tests/test_donor.py
  tests/test_prize.py
  tests/test_settings.py
  tests/util.py
  views/public.py
Due: none

does this squash
  views/public.py
Due: none

remove custom tags 'datetime' and 'donor_link' (#198)
  migrations/0008_donor_cache_tweaks.py
  models/bid.py
  models/donation.py
  models/prize.py
  randgen.py
  templates/base.html
  templates/tracker/bid.html
  templates/tracker/donation.html
  templates/tracker/donationindex.html
  templates/tracker/donor.html
  templates/tracker/donorindex.html
  templates/tracker/partials/donor_link.html
  templates/tracker/prize.html
  templates/tracker/prizeindex.html
  templates/tracker/runindex.html
  templatetags/donation_tags.py
  tests/test_api.py
  tests/test_bid.py
  tests/test_donation.py
  tests/test_donor.py
  tests/test_prize.py
  tests/test_settings.py
  tests/util.py
  views/public.py
Due: none

tests are green in 2.2 and all deprecations fixed
  auth.py
  requirements.txt
  templates/admin/automail_prize_contributors.html
  templates/admin/automail_prize_winners.html
  templates/admin/automail_prize_winners_accept_notifications.html
  templates/admin/automail_prize_winners_accept_notifications_post.html
  templates/admin/automail_prize_winners_post.html
  templates/admin/automail_prize_winners_shipping_notifications.html
  templates/admin/automail_prize_winners_shipping_notifications_post.html
  templates/admin/process_donations.html
  templates/admin/process_pending_bids.html
  templates/admin/process_prize_submissions.html
  templates/admin/read_donations.html
  templates/base.html
  templates/tracker/donate.html
  templates/tracker/index.html
  templates/tracker/paypal_cancel.html
  templates/tracker/paypal_return.html
  templates/tracker/submit_prize.html
  templates/tracker/submit_prize_success.html
  templates/ui/index.html
  tests/test_auth.py
  tests/test_prizemail.py
  tests/test_settings.py
  tests/urls.py
  views/api.py
Due: none

everything works on 2.0
  auth.py
  models/fields.py
  requirements.txt
  tests/test_auth.py
  tests/util.py
  urls.py
Due: none

all tests green on 2.1
  admin/event.py
  requirements.txt
  serializers.py
  tests/test_api.py
  tests/test_event.py
Due: none

Add Apache 2 license
  LICENSE
Due: none

remove url, use path
  api/urls.py
  api_urls.py
  tests/urls.py
  ui/urls.py
  urls.py
Due: none

change the url patterns to make them less collision-y
  admin/bid.py
  models/bid.py
  templates/base.html
  templates/tracker/bid.html
  templates/tracker/contributor_prize.html
  templates/tracker/donation.html
  templates/tracker/donationindex.html
  templates/tracker/donor.html
  templates/tracker/index.html
  templates/tracker/partials/option.html
  templates/tracker/prize.html
  templates/tracker/prizeindex.html
  templates/tracker/runindex.html
  tests/test_bid.py
  tests/test_donation.py
  tests/test_donor.py
  tests/test_prize.py
  tests/test_settings.py
  urls.py
  views/public.py
Due: none
