Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

default_stages: [commit]
exclude: (migrations/|static/(jquery.*|main.css))
repos:
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      name: black
- repo: https://github.com/pycqa/flake8
  rev: 3.7.9
  hooks:
    - id: flake8
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: ./node_modules/.bin/prettier
      language: node
      stages: [commit]
      files: (.*)\.(js|jsx|ts|tsx|css)$
      args: ["--write"]
    - id: eslint
      name: eslint
      entry: yarn fix:lint
      language: system
      stages: [commit]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
    - id: typescript
      name: typescript
      entry: ./node_modules/.bin/tsc
      language: script
      stages: [push]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ["--fix=lf"]

wip - fix donor prefetch on donation list
  tracker/views/public.py
Due: none

wip - donation consumer test
  tests/test_consumers.py
Due: none

wip - fix some more nested queries
  tracker/api/views/__init__.py
Due: none

wip - remove special formatting
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

wip - child state propagation
  tracker/admin/inlines.py
  tracker/models/bid.py
Due: none

wip - add schedule viewer to volunteer emails
  tests/test_event.py
  tracker/admin/event.py
Due: none

wip - re-enable v2 and cap some autocompletes
  tracker/lookups.py
Due: none

wip - exclude self from uniqueness check
  tracker/models/interstitial.py
Due: none

wip - fix milestone admin search
  tracker/admin/donation.py
Due: none

wip - correct paths for interstitial editor to avoid redirects
  bundles/admin/interstitials/Editor/index.tsx
Due: prettier, eslint, typescript

moving a run over an anchor no longer leaves a gap
  tests/test_speedrun.py
  tracker/models/event.py
  tracker/views/commands.py
Due: none

wip - total watch shows donation intervals
  bundles/public/api/actions/models.js
  bundles/public/api/actions/paginate.ts
  bundles/public/hooks/useFetchDonors.ts
Due: prettier, eslint, typescript

wip - correct totalWatch for child bids
  tracker/eventutil.py
Due: none

wip - feed dropdown on total_watch
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/actions/models.ts
  tracker/api/filters.py
  tracker/models/bid.py
Due: prettier, eslint, typescript

incentive timing for bids
  tracker/admin/bid.py
  tracker/admin/inlines.py
  tracker/migrations/0038_add_incentive_timing.py
  tracker/models/bid.py
  tracker/models/fields.py
Due: none

wip - fix tests
  tests/test_bid.py
Due: none

wip - fix specs
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  spec/fixtures/bid.ts
Due: prettier, eslint, typescript

wip - fix sidebar wrap
  bundles/processing/modules/layout/SidebarLayout.tsx
Due: prettier, eslint, typescript

wip - fix prize with too long provider
  bundles/tracker/prizes/components/PrizeCard.mod.css
Due: prettier

wip
  tests/apiv2/test_bids.py
  tracker/api/serializers.py
  tracker/models/bid.py
Due: none

wip - disable donor list/detail pages for now
  tests/test_api.py
  tests/test_bid.py
  tests/test_donation.py
  tests/test_donor.py
  tracker/models/donation.py
  tracker/templates/base.html
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/donation.html
  tracker/templates/tracker/donationindex.html
  tracker/templates/tracker/donor.html
  tracker/templates/tracker/index.html
  tracker/templates/tracker/partials/donor_link.html
  tracker/urls.py
  tracker/views/api.py
Due: none

wip - fix event annotations for postgres
  tracker/models/event.py
Due: none

wip - bump minimum to 12 hours
  tracker/models/event.py
Due: none

wip - add data to some run pages
  tracker/templates/tracker/run.html
  tracker/templates/tracker/runindex.html
Due: none

wip - show step description
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - fix tests
  tests/test_consumers.py
Due: none

wip - lint fixes
  bundles/public/apiv2/HTTPUtils.tsx
Due: prettier, eslint, typescript

wip - fix get_recent_donations
  tracker/search_feeds.py
Due: none

WIP WIP WIP WIP WIP
  tracker/migrations/0037_add_incentive_timing.py
Due: none

wip - adjust how chain steps display
  bundles/tracker/donation/components/DonationIncentives.tsx
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/partials/chaintable.html
  tracker/templates/tracker/partials/option.html
Due: prettier, eslint, typescript

wip - add next checkpoint and extra formatting to total watch
  bundles/admin/totalWatch.tsx
  tracker/admin/event.py
  tracker/templates/admin/tracker/extra_actions.html
  webpack.config.js
Due: prettier, eslint, typescript

wip - correct tense for relative run start
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - fix interstitial uniqueness
  tracker/models/interstitial.py
Due: none

wip - fix bid lookup permissions
  tracker/lookups.py
Due: none

wip - save_form
  tracker/admin/util.py
Due: none

merge migrations
  tracker/migrations/0038_merge_20240213_2207.py
Due: none

wip - fix total_watch to handle chained bids
  bundles/public/apiv2/Models.ts
  tracker/admin/bid.py
Due: prettier, eslint, typescript

wip - donation queryset helpers
  tracker/models/donation.py
  tracker/search_feeds.py
  tracker/views/public.py
Due: none

wip - fix Bid typing
  bundles/public/apiv2/Models.ts
Due: prettier, eslint, typescript
