Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: ./node_modules/.bin/prettier
  language: node
  stages:
  - commit
  args:
  - --write

eslint:
  name: eslint
  entry: ./node_modules/.bin/eslint
  language: node
  stages:
  - commit
  args:
  - --fix
  - --quiet

[#169747232] add various CSV reports to the event admin
  admin.py
  filters.py
  models/donation.py
  prizeutil.py
  randgen.py
  tests/test_event.py
  tests/test_prize.py
Due: none

Add Platform and Pronouns to Runner Model [#170008153 #170020708]
  admin.py
  api/serializers.py
  filters.py
  migrations/0020_add_runner_pronouns_and_platform.py
  models/event.py
  tests/test_api.py
Due: none

Create .editorconfig
  .editorconfig
Due: none

[#166855308] Display the handler email in the prize edit admin
  admin.py
Due: none

unit tests for validateBid and validateDonation
  bundles/donate/donation/DonationConstants.ts
  bundles/donate/donation/validateBid.spec.ts
  bundles/donate/donation/validateBid.ts
  bundles/donate/donation/validateDonation.spec.ts
  bundles/donate/donation/validateDonation.ts
  karma.conf.js
  package.json
  yarn.lock
Due: prettier, eslint

Add integration tests for DonationForm
  babel.config.js
  bundles/donate/Action.ts
  bundles/donate/Store.ts
  bundles/donate/donation/__tests__/DonationForm.spec.tsx
  bundles/donate/donation/__tests__/validateBid.spec.ts
  bundles/donate/donation/__tests__/validateDonation.spec.ts
  bundles/donate/donation/components/DonationBidForm.tsx
  bundles/donate/donation/components/DonationBids.tsx
  bundles/donate/donation/components/DonationForm.tsx
  bundles/donate/donation/components/DonationIncentives.tsx
  bundles/donate/event_details/EventDetailsActions.ts
  bundles/donate/event_details/EventDetailsReducer.ts
  bundles/donate/event_details/EventDetailsTypes.ts
  bundles/donate/testing/test-utils.tsx
  bundles/uikit/Button.tsx
  bundles/uikit/Checkbox.tsx
  bundles/uikit/CurrencyInput.tsx
  bundles/uikit/TextInput.tsx
  package.json
  yarn.lock
Due: prettier, eslint

camelcase files
  .eslintignore
  .eslintrc
  bundles/public/api/actions/singletonsSpec.js
  bundles/public/api/helpers/authSpec.js
  bundles/public/api/reducers/singletonsSpec.js
  bundles/public/errorList.css
  bundles/public/errorList.js
  bundles/public/formField.js
  bundles/public/orderTarget.js
  bundles/public/spinnerSpec.js
  bundles/public/util/freezeSpec.js
  karma.conf.js
Due: prettier, eslint

fix eslint + fix hook
  .pre-commit-config.yaml
  bundles/donate/Store.ts
  bundles/donate/donation/DonationActions.ts
  bundles/donate/donation/DonationStore.ts
  bundles/donate/donation/__tests__/DonationForm.spec.tsx
  bundles/donate/donation/__tests__/validateBid.spec.ts
  bundles/donate/donation/__tests__/validateDonation.spec.ts
  bundles/donate/donation/components/DonationBidForm.tsx
  bundles/donate/donation/components/DonationIncentives.tsx
  bundles/donate/donation/validateBid.ts
  bundles/donate/hooks/useDispatch.ts
  bundles/donate/index.tsx
  bundles/donate/testing/test-utils.tsx
  bundles/uikit/Alert.tsx
  bundles/uikit/Checkbox.tsx
  bundles/uikit/CurrencyInput.tsx
  bundles/uikit/TextInput.tsx
Due: prettier, eslint

add donation payload tests
  bundles/donate/donation/DonationActions.ts
  bundles/donate/donation/__tests__/DonationActions.spec.ts
Due: prettier, eslint

commit ALL of the rename this time
  bundles/admin/app.js
  bundles/admin/scheduleEditor/dragDrop/emptyTableDropTarget.js
  bundles/admin/scheduleEditor/dragDrop/speedrunDropTarget.js
  bundles/admin/scheduleEditor/index.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/scheduleEditor/speedrunTable.js
  bundles/public/errorList.js
Due: prettier, eslint

[#170165802] add some fields to prize api queries
  admin.py
  models/prize.py
  serializers.py
  tests/test_api.py
  views/api.py
Due: none

[#170165802] search results work for prizes without imagefile
  serializers.py
  tests/test_api.py
Due: none

add eslint check to azure
  azure-pipelines.yml
Due: none

[#170173799] search api now returns canonical urls
  models/bid.py
  models/donation.py
  models/event.py
  models/prize.py
  serializers.py
  tests/test_api.py
  views/api.py
Due: none

[#170173809] search api supports limit and offset parameters
  filters.py
  tests/test_api.py
  views/api.py
  viewutil.py
Due: none

deprecated_runners
  templates/tracker/run.html
Due: none

fix SpeedRun natural key lookup when there are conflicting categories
  models/event.py
Due: none

add some ts-ignores for a test file
  bundles/donate/donation/__tests__/DonationActions.spec.ts
Due: prettier, eslint

[#170302180] maximum bid is no longer editable
  admin.py
  models/prize.py
  tests/test_prize.py
Due: none

fix prize availability time description
  bundles/tracker/prizes/components/PrizeRelativeAvailability.tsx
Due: prettier, eslint

[#169941581] cap donation message column width for processor flow
  admin.py
  static/admin/donation.css
  static/adminprocessing.css
  templates/admin/automail_prize_contributors.html
  templates/admin/automail_prize_contributors_post.html
  templates/admin/automail_prize_winners.html
  templates/admin/automail_prize_winners_accept_notifications.html
  templates/admin/automail_prize_winners_accept_notifications_post.html
  templates/admin/automail_prize_winners_post.html
  templates/admin/automail_prize_winners_shipping_notifications.html
  templates/admin/automail_prize_winners_shipping_notifications_post.html
  templates/admin/process_donations.html
  templates/admin/process_pending_bids.html
  templates/admin/process_prize_submissions.html
  templates/admin/read_donations.html
Due: prettier

feedback
  bundles/tracker/prizes/PrizeUtils.ts
  bundles/tracker/prizes/components/Prize.tsx
  bundles/tracker/prizes/components/PrizeCard.tsx
  bundles/uikit/Text.tsx
  ui/urls.py
Due: prettier, eslint

[#169196626] fix runner-by-event filter
  filters.py
  tests/test_api.py
Due: none

webpack proxies local media to django
  webpack.config.js
Due: prettier, eslint

[#169747249] reverse the order of events dropdown and cap height
  templates/base.html
Due: none

Add unit tests for relative prize availability
  bundles/tracker/prizes/PrizeActions.ts
  bundles/tracker/prizes/PrizeTypes.ts
  bundles/tracker/prizes/__tests__/getPrizeRelativeAvailability.spec.ts
  bundles/tracker/prizes/components/PrizeCard.tsx
  bundles/tracker/prizes/getPrizeRelativeAvailability.ts
  bundles/tracker/runs/RunTypes.ts
Due: prettier, eslint

format pipelines yaml
  azure-pipelines.yml
Due: none

attempt adding frontend job to ci
  azure-pipelines.yml
Due: none

remove dependencies between backend and frontend jobs
  azure-pipelines.yml
Due: none

re-order script defs?
  azure-pipelines.yml
Due: none

Add a real yarn prettier
  package.json
Due: none

[#154547794] reorganize admin
  admin.py
  admin/__init__.py
  admin/bid.py
  admin/country.py
  admin/donation.py
  admin/event.py
  admin/filters.py
  admin/forms.py
  admin/inlines.py
  admin/log.py
  admin/prize.py
  admin/util.py
  decorators.py
  forms.py
  models/__init__.py
  models/bid.py
  models/country.py
  models/donation.py
  models/event.py
  models/fields.py
  models/prize.py
  models/util.py
  prizeutil.py
  templates/admin/automail_prize_contributors.html
  tests/test_admin.py
  tests/test_speedrun.py
  views/api.py
  viewutil.py
Due: none

distinct and aggregate do not mix on postgres?
  views/public.py
Due: none

Fix `fetchPrizes` filtering with simpler types and more accurate loading
  bundles/tracker/prizes/PrizeActions.ts
  bundles/tracker/prizes/PrizeTypes.ts
  bundles/tracker/prizes/components/Prizes.tsx
Due: prettier, eslint

Explicitly handle prizes with no image
  bundles/tracker/prizes/components/Prize.mod.css
  bundles/tracker/prizes/components/Prize.tsx
  bundles/tracker/prizes/components/PrizeCard.mod.css
  bundles/tracker/prizes/components/PrizeCard.tsx
Due: prettier, eslint

allow clicking anywhere on PrizeCard to view Prize details
  bundles/tracker/prizes/components/PrizeCard.mod.css
  bundles/tracker/prizes/components/PrizeCard.tsx
Due: prettier, eslint

`PrizeSearchFilter.event` doesn't actually work with shortnames
  bundles/tracker/prizes/PrizeTypes.ts
Due: prettier, eslint

Handle cases where timestamps aren't present for prizes, runs, and events
  bundles/tracker/events/EventActions.ts
  bundles/tracker/events/EventTypes.ts
  bundles/tracker/prizes/PrizeActions.ts
Due: prettier, eslint

Path conditions:
  prettier: any of: (.*)\.(js|jsx|ts|tsx|css)$, but not: (migrations/|static/(jquery.*|main.css))
  eslint: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
