Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: prettier
  entry: ./node_modules/.bin/prettier
  language: node
  stages:
  - commit
  args:
  - --write

eslint:
  name: eslint
  entry: yarn fix:lint
  language: system
  stages:
  - commit
  pass_filenames: false

typescript:
  name: typescript
  entry: ./node_modules/.bin/tsc
  language: script
  stages:
  - push
  pass_filenames: false

wip - add schedule viewer to volunteer emails
  tests/test_event.py
  tracker/admin/event.py
Due: none

wip - fix Bid typing
  bundles/public/apiv2/Models.ts
Due: prettier, eslint, typescript

wip - fix event annotations for postgres
  tracker/models/event.py
Due: none

wip - adjust how chain steps display
  bundles/tracker/donation/components/DonationIncentives.tsx
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/partials/chaintable.html
  tracker/templates/tracker/partials/option.html
Due: prettier, eslint, typescript

wip - really fix bid state permissions
  tracker/api/permissions.py
Due: none

wip - show step description
  bundles/tracker/event_details/EventDetailsTypes.ts
Due: prettier, eslint, typescript

wip - disable v1 React processing pages
  bundles/admin/app.js
  tests/test_admin.py
  tracker/templates/admin/tracker/extra_actions.html
Due: prettier, eslint, typescript

wip - unpin all unopen bids
  tests/test_bid.py
  tracker/models/bid.py
Due: none

wip - exclude self from uniqueness check
  tracker/models/interstitial.py
Due: none

wip - remove special formatting
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

wip - feed dropdown on total_watch
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/actions/models.ts
  tracker/api/filters.py
  tracker/models/bid.py
Due: prettier, eslint, typescript

wip - fix tests
  tests/test_consumers.py
Due: none

wip - correct permissions check for pending bids
  tracker/api/permissions.py
Due: none

wip - add first step of chain to list
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - fix total_watch to handle chained bids
  bundles/public/apiv2/Models.ts
  tracker/admin/bid.py
  tracker/api/filters.py
  tracker/api/views/__init__.py
Due: prettier, eslint, typescript

wip - save_form
  tracker/admin/util.py
Due: none

wip - fix prize with too long provider
  bundles/tracker/prizes/components/PrizeCard.mod.css
Due: prettier

wip - fix get_recent_donations
  tracker/search_feeds.py
Due: none

make EventQuerySet instead of on the Manager
  tracker/models/event.py
Due: none

wip - correct being able to create/change hidden bids
  tests/apiv2/test_bids.py
  tracker/api/views/bids.py
Due: none

wip - fix bid lookup permissions
  tracker/lookups.py
Due: none

wip - fix specs
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  spec/fixtures/bid.ts
Due: prettier, eslint, typescript

wip - show step description
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - fix milestone admin search
  tracker/admin/donation.py
Due: none

wip - redirect v2 processing under admin
  tracker/admin/event.py
  tracker/templates/admin/tracker/extra_actions.html
  tracker/ui/urls.py
  tracker/ui/views.py
Due: none

wip - add temporary hard coded links to v2 processing
  tracker/templates/admin/tracker/extra_actions.html
Due: none

wip - donate form supports chains
  bundles/tracker/donation/__tests__/Donate.spec.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - fix interstitial uniqueness
  tracker/models/interstitial.py
Due: none

wip - run prefetch
  tracker/views/public.py
Due: none

wip - fix sidebar wrap
  bundles/processing/modules/layout/SidebarLayout.tsx
Due: prettier, eslint, typescript

wip - correct totalWatch for child bids
  tracker/eventutil.py
Due: none

wip - lint fixes
  bundles/public/apiv2/HTTPUtils.tsx
Due: prettier, eslint, typescript

Add back ordering to `with_annotations`
  tracker/models/event.py
Due: none

wip - donation socket uses v2 serializer for bid
  bundles/public/apiv2/Models.ts
  tracker/eventutil.py
Due: prettier, eslint, typescript

bump cssnano
  package.json
  yarn.lock
Due: none

bump cssnano (#602)
  package.json
  yarn.lock
Due: none

Fix permission name
  tracker/api/permissions.py
Due: none

bump eslint and plugins (#600)
  bundles/admin/index.js
  bundles/common/ModelErrors.tsx
  bundles/processing/modules/donation-groups/CreateEditDonationGroupModal.tsx
  bundles/processing/modules/donations/ModCommentModal.tsx
  bundles/processing/modules/donations/SearchKeywordsInput.tsx
  bundles/processing/modules/processing/ProcessingDonationRow.tsx
  bundles/processing/modules/processing/ProcessingModeSelector.tsx
  bundles/processing/modules/reading/FilterGroupTab.tsx
  bundles/processing/modules/reading/ReadingDonationRow.tsx
  bundles/processing/modules/reading/ReadingDonationRowPopout.tsx
  bundles/processing/modules/settings/PrimaryNavPopout.tsx
  bundles/processing/modules/theming/Theming.tsx
  bundles/processing/pages/ProcessDonations.tsx
  bundles/processing/pages/ReadDonations.tsx
  bundles/tracker/donation/components/DonationBids.tsx
  package.json
  yarn.lock
Due: prettier, eslint, typescript

manual dedupe
  yarn.lock
Due: none

Path conditions:
  prettier: any of: (.*)\.(js|jsx|ts|tsx|css)$, but not: (migrations/|static/(jquery.*|main.css))
  eslint: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
  typescript: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
