Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: prettier
  entry: ./node_modules/.bin/prettier
  language: node
  stages:
  - commit
  args:
  - --write

eslint:
  name: eslint
  entry: yarn fix:lint
  language: system
  stages:
  - commit
  pass_filenames: false

typescript:
  name: typescript
  entry: ./node_modules/.bin/tsc
  language: script
  stages:
  - push
  pass_filenames: false

most admin pages show newer Events first for submodel sorting
  tracker/admin/util.py
  tracker/models/interstitial.py
Due: none

merge Runner and Headset into Talent
  bundles/common/Permissions.ts
  tests/apiv2/test_runners.py
  tests/apiv2/test_runs.py
  tests/apiv2/test_talent.py
  tests/randgen.py
  tests/test_api.py
  tests/test_event.py
  tests/test_headset.py
  tests/test_runner.py
  tests/test_speedrun.py
  tests/test_talent.py
  tests/test_viewutil.py
  tests/util.py
  tracker/admin/event.py
  tracker/admin/filters.py
  tracker/api/serializers.py
  tracker/api/urls.py
  tracker/api/views/runner.py
  tracker/api/views/talent.py
  tracker/migrations/0044_add_new_talent_fields.py
  tracker/migrations/0045_merge_runner_and_headset.py
  tracker/migrations/0046_rename_runner_and_headset.py
  tracker/migrations/0047_merge_talent_contenttypes.py
  tracker/models/__init__.py
  tracker/models/event.py
  tracker/search_filters.py
  tracker/util.py
  tracker/views/api.py
Due: prettier, eslint, typescript

wip - correct paths for interstitial editor to avoid redirects
  bundles/admin/interstitials/Editor/index.tsx
Due: prettier, eslint, typescript

WIP - totalWatch stuff
  .pre-commit-config.yaml
  README.md
  bundles/admin/app.js
  bundles/admin/totalWatch.tsx
  bundles/public/api/actions/paginate.ts
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/Models.ts
  bundles/public/apiv2/actions/models.ts
  bundles/public/hooks/useFetchParents.ts
  tracker/admin/event.py
  tracker/api/filters.py
  tracker/eventutil.py
  tracker/settings.py
  tracker/templates/admin/tracker/extra_actions.html
  tracker/views/public.py
Due: prettier, eslint, typescript

wip - live page monitors bids
  tracker/eventutil.py
Due: none

wip - change permissions for first-stage donation processors
  tracker/admin/event.py
Due: none

wip - total watch shows donation intervals
  bundles/public/api/actions/models.js
  bundles/public/hooks/useFetchDonors.ts
Due: prettier, eslint, typescript

wip - correct being able to create/change hidden bids
  tests/apiv2/test_bids.py
  tracker/api/views/bids.py
Due: none

wip - add data to some run pages
  tracker/templates/tracker/run.html
  tracker/templates/tracker/runindex.html
Due: none

wip - donation consumer test
  tests/test_consumers.py
Due: none

wip - lint fixes
  bundles/public/apiv2/HTTPUtils.tsx
Due: prettier, eslint, typescript

wip - misc fixes
  listperms.py
  package.json
  webpack.config.js
Due: prettier, eslint, typescript

wip - fix total_watch to handle chained bids
  bundles/public/apiv2/Models.ts
  tracker/admin/bid.py
Due: prettier, eslint, typescript

wip - fix sidebar wrap
  bundles/processing/modules/layout/SidebarLayout.tsx
Due: prettier, eslint, typescript

wip - donation socket uses v2 serializer for bid
  bundles/public/apiv2/Models.ts
  tracker/eventutil.py
Due: prettier, eslint, typescript

wip - feed dropdown on total_watch
  bundles/public/apiv2/Endpoints.tsx
  tracker/models/bid.py
Due: prettier, eslint, typescript

wip - fix event annotations for postgres
  tracker/models/event.py
Due: none

wip - permissions check sync
  tracker/consumers/processing.py
Due: none

wip - fix specs
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  spec/fixtures/bid.ts
Due: prettier, eslint, typescript

wip - donate form supports chains
  bundles/tracker/donation/__tests__/Donate.spec.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - permissions fixes for admin
  tracker/admin/util.py
Due: none

wip - adjust how chain steps display
  bundles/tracker/donation/components/DonationIncentives.tsx
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/partials/chaintable.html
  tracker/templates/tracker/partials/option.html
Due: prettier, eslint, typescript

wip - correct totalWatch for child bids
  tracker/eventutil.py
Due: none

wip - child state propagation
  tracker/admin/inlines.py
  tracker/models/bid.py
Due: none

wip - show step description
  bundles/tracker/event_details/EventDetailsTypes.ts
Due: prettier, eslint, typescript

wip - fix milestone admin search
  tracker/admin/donation.py
Due: none

wip - fix tests
  tests/test_consumers.py
Due: none

wip - show step description
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - add schedule viewer to volunteer emails
  tests/test_event.py
  tracker/admin/event.py
Due: none

wip - unpin all unopen bids
  tests/test_bid.py
  tracker/models/bid.py
Due: none

wip - remove special formatting
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

wip - bump minimum to 12 hours
  tracker/models/event.py
Due: none

wip - add next checkpoint and extra formatting to total watch
  webpack.config.js
Due: prettier, eslint, typescript

WIP WIP WIP WIP WIP
  tracker/migrations/0037_add_incentive_timing.py
Due: none

merge migrations
  tracker/migrations/0038_merge_20240213_2207.py
Due: none

wip - fix get_recent_donations
  tracker/search_feeds.py
Due: none

merge migrations again
  tracker/migrations/0037_add_incentive_timing.py
  tracker/migrations/0039_merge_20240221_2104.py
Due: none

wip - anchored interstitials
  .eslintrc
  bundles/admin/scheduleEditor/dragDrop/emptyTableDropTarget.tsx
  bundles/admin/scheduleEditor/dragDrop/speedrunDropTarget.tsx
  bundles/admin/scheduleEditor/index.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/scheduleEditor/speedrunTable.js
  bundles/public/api/actions/models.js
  bundles/public/api/reducers/models.js
  tracker/migrations/0039_add_interstitial_anchor.py
  tracker/models/interstitial.py
  tracker/views/commands.py
Due: prettier, eslint, typescript

wip - better color fix
  tracker/static/light_trash.css
Due: prettier

wip - add run tags
  tracker/admin/__init__.py
  tracker/migrations/0040_add_run_tags.py
  tracker/static/light_trash.css
Due: prettier

Path conditions:
  prettier: any of: (.*)\.(js|jsx|ts|tsx|css)$, but not: (migrations/|static/(jquery.*|main.css))
  eslint: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
  typescript: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
