Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

default_stages: [commit]
exclude: (migrations/|static/(jquery.*|main.css))
repos:
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      name: black
- repo: https://github.com/pycqa/flake8
  rev: 3.7.9
  hooks:
    - id: flake8
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: ./node_modules/.bin/prettier
      language: node
      stages: [commit]
      files: (.*)\.(js|jsx|ts|tsx|css)$
      args: ["--write"]
    - id: eslint
      name: eslint
      entry: yarn fix:lint
      language: system
      stages: [commit]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
    - id: typescript
      name: typescript
      entry: ./node_modules/.bin/tsc
      language: script
      stages: [push]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ["--fix=lf"]

fix migrations
  tracker/migrations/0037_add_incentive_timing.py
  tracker/migrations/0038_add_incentive_timing.py
  tracker/migrations/0038_merge_20240213_2207.py
  tracker/migrations/0039_merge_20240221_2104.py
Due: none

wip - bump minimum to 12 hours
  tracker/models/event.py
Due: none

wip - fixed nested query loop in ads endpoint
  tracker/views/api.py
Due: none

wip - fix get_recent_donations
  tracker/search_feeds.py
Due: none

wip - fix donor prefetch on donation list
  tracker/views/public.py
Due: none

wip - fix some more nested queries
  tracker/api/views/__init__.py
Due: none

WIP WIP WIP WIP WIP
  tracker/migrations/0037_add_incentive_timing.py
Due: none

wip - adjust Next Checkpoint format on total watch
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - remove special formatting
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

wip - disable donor list/detail pages for now
  tests/test_api.py
  tests/test_bid.py
  tests/test_donation.py
  tests/test_donor.py
  tracker/models/donation.py
  tracker/templates/base.html
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/donation.html
  tracker/templates/tracker/donationindex.html
  tracker/templates/tracker/donor.html
  tracker/templates/tracker/index.html
  tracker/templates/tracker/partials/donor_link.html
  tracker/urls.py
  tracker/views/api.py
Due: none

wip - fix more nested queries
  tracker/models/prize.py
  tracker/templates/tracker/prize.html
  tracker/templates/tracker/prizeindex.html
  tracker/views/public.py
  webpack.config.js
Due: prettier, eslint, typescript

wip - anchored interstitials
  .eslintrc
  bundles/admin/scheduleEditor/dragDrop/emptyTableDropTarget.tsx
  bundles/admin/scheduleEditor/dragDrop/speedrunDropTarget.tsx
  bundles/admin/scheduleEditor/index.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/scheduleEditor/speedrunTable.js
  bundles/public/api/actions/models.js
  bundles/public/api/reducers/models.js
  tracker/migrations/0039_add_interstitial_anchor.py
  tracker/models/interstitial.py
  tracker/views/commands.py
Due: prettier, eslint, typescript

wip - add tags to interstitials
  tracker/admin/interstitial.py
  tracker/api/serializers.py
  tracker/migrations/0042_add_interstitial_tags.py
  tracker/models/interstitial.py
  tracker/views/api.py
Due: none

wip - merge migrations
  tracker/migrations/0041_merge_0039_add_interstitial_anchor_0040_add_run_tags.py
Due: none

wip - misc
  tracker/admin/donation.py
  tracker/admin/forms.py
  tracker/admin/interstitial.py
Due: none

wip - show setup time in full schedule
  tracker/templates/admin/tracker/view_full_schedule.html
Due: none

wip - formatting change to total watch
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - another missing prefetch
  tracker/api/views/interview.py
Due: none

wip - add selenium skip flag
  tests/test_admin.py
Due: none

wip - optimize some admin queries
  tracker/admin/bid.py
  tracker/api/views/donations.py
Due: none

wip - show span of current run
  bundles/admin/totalWatch.tsx
  tracker/templates/admin/tracker/view_full_schedule.html
Due: prettier, eslint, typescript

wip - adjust previous run total row
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - better color fix
  tracker/static/light_trash.css
Due: prettier

wip - add previous run to total watch
  bundles/admin/totalWatch.tsx
  tests/test_api.py
  tracker/views/api.py
Due: prettier, eslint, typescript

wip - more prefetch
  tracker/api/views/run.py
Due: none

wip - just remove edit from schedule dragdrop for now
  bundles/admin/scheduleEditor/speedrunTable.js
Due: prettier, eslint, typescript

wip - prefetch
  tracker/views/api.py
Due: none

wip - ordered runs must have length
  tests/test_api.py
  tests/test_auth.py
  tests/test_interstitial.py
  tests/test_prize.py
  tests/test_speedrun.py
  tracker/api/views/donations.py
  tracker/models/event.py
  tracker/models/interstitial.py
Due: none

wip - fix some pk/id disagreements
  bundles/admin/app.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

add optional Interstitial run anchor (#691)
  tests/test_speedrun.py
  tracker/admin/interstitial.py
  tracker/api/serializers.py
  tracker/migrations/0040_add_interstitial_anchor.py
  tracker/models/interstitial.py
  tracker/views/commands.py
Due: none

wip - migrations
  tracker/migrations/0039_add_interstitial_anchor.py
Due: none

missing tracker settings imports
  tracker/admin/prize.py
  tracker/prizemail.py
Due: none

missing tracker settings imports (#693)
  tracker/admin/prize.py
  tracker/prizemail.py
Due: none

volunteer import behavior tweaks
  tests/test_event.py
  tests/util.py
  tracker/admin/event.py
Due: none

show Prize category on React view page, and fix CSS for long Provider names
  bundles/tracker/prizes/components/PrizeCard.mod.css
  bundles/tracker/prizes/components/PrizeCard.tsx
Due: prettier, eslint, typescript

volunteer import behavior tweaks (#692)
  tests/test_event.py
  tests/util.py
  tracker/admin/event.py
Due: none

full schedule tweaks
  tests/test_interstitial.py
  tracker/admin/interstitial.py
  tracker/models/interstitial.py
  tracker/templates/admin/tracker/view_full_schedule.html
Due: none

show Prize category on React view page, and fix CSS for long Provider names (#696)
  bundles/tracker/prizes/components/PrizeCard.mod.css
  bundles/tracker/prizes/components/PrizeCard.tsx
Due: prettier, eslint, typescript

full schedule tweaks (#695)
  tests/test_interstitial.py
  tracker/admin/interstitial.py
  tracker/models/interstitial.py
  tracker/templates/admin/tracker/view_full_schedule.html
Due: none

update pre-commit hooks and don't run Package on merge queue
  .pre-commit-config.yaml
  azure-pipelines.yml
  tests/apiv2/test_donations.py
  tests/test_admin.py
  tests/test_api.py
  tests/test_bid.py
  tests/test_donation.py
  tests/test_headset.py
  tests/util.py
  tracker/admin/interstitial.py
  tracker/api/views/__init__.py
  tracker/forms.py
  tracker/models/bid.py
  tracker/search_filters.py
  tracker/ui/views.py
  tracker/util.py
  tracker/views/api.py
Due: none
