Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: prettier
  entry: yarn prettier
  language: system
  args:
  - --write

eslint:
  name: eslint
  entry: yarn fix:lint
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: yarn tsc
  language: system
  stages:
  - push
  pass_filenames: false

wip - lint fixes
  bundles/public/apiv2/HTTPUtils.tsx
Due: prettier, eslint, typescript

wip - donation consumer test
  tests/test_consumers.py
Due: none

wip - misc fixes
  listperms.py
  package.json
  webpack.config.js
Due: prettier, eslint, typescript

wip - change permissions for first-stage donation processors
  tracker/admin/event.py
Due: none

wip - fix sidebar wrap
  bundles/processing/modules/layout/SidebarLayout.tsx
Due: prettier, eslint, typescript

wip - donation socket uses v2 serializer for bid
  bundles/public/apiv2/Models.ts
  tracker/eventutil.py
Due: prettier, eslint, typescript

wip - fix total_watch to handle chained bids
  bundles/public/apiv2/Models.ts
  tracker/admin/bid.py
Due: prettier, eslint, typescript

wip - fix event annotations for postgres
  tracker/models/event.py
Due: none

wip - feed dropdown on total_watch
  bundles/public/apiv2/Endpoints.tsx
  tracker/models/bid.py
Due: prettier, eslint, typescript

wip - donate form supports chains
  bundles/tracker/donation/__tests__/Donate.spec.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - fix specs
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  spec/fixtures/bid.ts
Due: prettier, eslint, typescript

wip - permissions fixes for admin
  tracker/admin/util.py
Due: none

wip - correct totalWatch for child bids
  tracker/eventutil.py
Due: none

wip - child state propagation
  tracker/admin/inlines.py
  tracker/models/bid.py
Due: none

wip - show step description
  bundles/tracker/event_details/EventDetailsTypes.ts
Due: prettier, eslint, typescript

wip - fix milestone admin search
  tracker/admin/donation.py
Due: none

wip - show step description
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - fix tests
  tests/test_consumers.py
Due: none

wip - adjust how chain steps display
  bundles/tracker/donation/components/DonationIncentives.tsx
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/partials/chaintable.html
  tracker/templates/tracker/partials/option.html
Due: prettier, eslint, typescript

wip - add schedule viewer to volunteer emails
  tests/test_event.py
  tracker/admin/event.py
Due: none

wip - bump minimum to 12 hours
  tracker/models/event.py
Due: none

wip - fix get_recent_donations
  tracker/search_feeds.py
Due: none

wip - more prefetch
  tracker/api/views/run.py
Due: none

wip - remove special formatting
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

wip - add next checkpoint and extra formatting to total watch
  webpack.config.js
Due: prettier, eslint, typescript

wip - ordered runs must have length
  tests/test_api.py
  tests/test_interstitial.py
  tests/test_speedrun.py
  tracker/api/views/donations.py
Due: none

wip - rebase
  tests/test_api.py
Due: none

wip - misc
  tracker/admin/donation.py
  tracker/admin/forms.py
Due: none

wip - public site id support
  README.md
  tests/test_prize.py
  tests/test_settings.py
  tests/test_util.py
  tracker/models/bid.py
  tracker/models/donation.py
  tracker/models/event.py
  tracker/models/prize.py
  tracker/settings.py
  tracker/util.py
Due: none

wip - another missing prefetch
  tracker/api/views/interview.py
Due: none

wip - just remove edit from schedule dragdrop for now
  bundles/admin/scheduleEditor/speedrunTable.js
Due: prettier, eslint, typescript

wip - ts
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - back to pk until v2 is finished
  bundles/admin/app.js
  bundles/public/apiv2/Endpoints.tsx
Due: prettier, eslint, typescript

wip - fix tests for spike branch
  tests/apiv2/test_bids.py
  tests/test_consumers.py
  tests/test_donation.py
  tests/test_event.py
  tests/test_eventutil.py
  tests/test_prize.py
  tests/test_tracker_settings.py
  tracker/views/api.py
Due: none

wip - add layout to run endpoint
  tracker/api/serializers.py
Due: none

wip - hook fixes
  tracker/api/views/donations.py
  tracker/search_feeds.py
Due: none

fix being unable to create bids in any of the hidden states
  tests/apiv2/test_bids.py
  tracker/api/views/bids.py
Due: none

fix being unable to create bids in any of the hidden states (#751)
  tests/apiv2/test_bids.py
  tracker/api/views/bids.py
Due: none

updates to email templates for post_office compatibility
  tests/requirements.txt
  tests/test_auth.py
  tracker/auth.py
  tracker/management/commands/default_email_templates.py
Due: none

updates to email templates for post_office compatibility (#752)
  tests/requirements.txt
  tests/test_auth.py
  tracker/auth.py
  tracker/management/commands/default_email_templates.py
Due: none

Path conditions:
  prettier: any of: (.*)\.(js|jsx|ts|tsx|css)$, but not: (migrations/|static/(jquery.*|main.css))
  eslint: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
  typescript: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
