Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: prettier
  entry: ./node_modules/.bin/prettier
  language: node
  stages:
  - commit
  args:
  - --write

eslint:
  name: eslint
  entry: yarn fix:lint
  language: system
  stages:
  - commit
  pass_filenames: false

typescript:
  name: typescript
  entry: ./node_modules/.bin/tsc
  language: script
  stages:
  - push
  pass_filenames: false

Remove webpack manifest dependency and use html-webpack-plugin for templates instead
  .gitignore
  bundles/admin/app.js
  bundles/admin/index.js
  bundles/processing/ActionLog.mod.css
  bundles/processing/ActionLog.tsx
  bundles/processing/AdminV1Compat.js
  bundles/processing/App.tsx
  bundles/processing/ConnectionStatus.tsx
  bundles/processing/DonationRow.mod.css
  bundles/processing/DonationRow.tsx
  bundles/processing/PrimaryNavPopout.mod.css
  bundles/processing/PrimaryNavPopout.tsx
  bundles/processing/ProcessDonations.tsx
  bundles/processing/Processing.mod.css
  bundles/processing/ProcessingStore.tsx
  bundles/processing/ProcessingV2.tsx
  bundles/processing/README.md
  bundles/processing/Routes.tsx
  bundles/processing/Theming.mod.css
  bundles/processing/Theming.tsx
  bundles/processing/getEstimatedReadingTIme.tsx
  bundles/processing/index.tsx
  bundles/processing/useAnimationFrame.tsx
  package.json
  setup.py
  tracker/templates/base.html
  tracker/templates/ui/index.html
  tracker/templates/ui/minimal.html
  tracker/ui/urls.py
  tracker/ui/views.py
  webpack.config.js
  yarn.lock
Due: prettier, eslint, typescript

no more manifest file in setup.py
  setup.py
Due: none

Use `html-webpack-plugin` instead of webpack manifests (#530)
  .gitignore
  bundles/admin/app.js
  bundles/admin/index.js
  bundles/processing/ActionLog.mod.css
  bundles/processing/ActionLog.tsx
  bundles/processing/AdminV1Compat.js
  bundles/processing/App.tsx
  bundles/processing/ConnectionStatus.tsx
  bundles/processing/DonationRow.mod.css
  bundles/processing/DonationRow.tsx
  bundles/processing/PrimaryNavPopout.mod.css
  bundles/processing/PrimaryNavPopout.tsx
  bundles/processing/ProcessDonations.tsx
  bundles/processing/Processing.mod.css
  bundles/processing/ProcessingStore.tsx
  bundles/processing/ProcessingV2.tsx
  bundles/processing/README.md
  bundles/processing/Routes.tsx
  bundles/processing/Theming.mod.css
  bundles/processing/Theming.tsx
  bundles/processing/getEstimatedReadingTIme.tsx
  bundles/processing/index.tsx
  bundles/processing/useAnimationFrame.tsx
  package.json
  setup.py
  tracker/templates/base.html
  tracker/templates/ui/index.html
  tracker/templates/ui/minimal.html
  tracker/ui/urls.py
  tracker/ui/views.py
  webpack.config.js
  yarn.lock
Due: prettier, eslint, typescript

Use `@loadable/component` because `react-loadable` is unmaintained.
  bundles/admin/app.js
  package.json
  yarn.lock
Due: prettier, eslint, typescript

add types for loadable
  bundles/processing/App.tsx
  package.json
  yarn.lock
Due: prettier, eslint, typescript

Use @loadable/component because react-loadable is unmaintained (#531)
  bundles/admin/app.js
  bundles/processing/App.tsx
  package.json
  yarn.lock
Due: prettier, eslint, typescript

most of the way to a host processing page
  bundles/.design_system/base_tokens.json
  bundles/.design_system/generated/Spacing.css
  bundles/processing/ActionLog.tsx
  bundles/processing/CreateEditDonationGroupModal.mod.css
  bundles/processing/CreateEditDonationGroupModal.tsx
  bundles/processing/DonationGroupsStore.tsx
  bundles/processing/DonationRow.mod.css
  bundles/processing/DonationRow.tsx
  bundles/processing/DonationsStore.tsx
  bundles/processing/MutationButton.tsx
  bundles/processing/PrimaryNavPopout.tsx
  bundles/processing/ProcessDonations.tsx
  bundles/processing/Processing.mod.css
  bundles/processing/ProcessingSidebar.tsx
  bundles/processing/ProcessingStore.tsx
  bundles/processing/ProcessingV2.tsx
  bundles/processing/ReadDonations.tsx
  bundles/processing/Theming.tsx
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/routes/donations.tsx
  bundles/uikit/icons/CheckboxChecked.tsx
  bundles/uikit/icons/Dots.tsx
  bundles/uikit/icons/InfoCircle.tsx
  bundles/uikit/icons/Plus.tsx
  package.json
  tracker/analytics/events.py
  tracker/api/views/donations.py
  yarn.lock
Due: prettier, eslint, typescript

don't call .all() unnecessarily
  tracker/api/views/donations.py
Due: none

Add `me` endpoint for loading current user data
  bundles/processing/AuthStore.tsx
  bundles/processing/PrimaryNavPopout.tsx
  bundles/processing/ProcessingSidebar.tsx
  bundles/processing/ProcessingV2.tsx
  bundles/public/apiv2/APIClient.tsx
  bundles/public/apiv2/APITypes.tsx
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/routes/me.tsx
  tests/apiv2/test_me.py
  tracker/api/urls.py
  tracker/api/views/me.py
Due: prettier, eslint, typescript

use TRACKER_PAGINATION_LIMIT
  tracker/api/views/donations.py
Due: none

update Django version compatibility matrix
  README.md
  azure-pipelines.yml
  setup.py
  tests/requirements.txt
Due: none

update Django version compatibility matrix (#535)
  README.md
  azure-pipelines.yml
  setup.py
  tests/requirements.txt
Due: none

Add `me` endpoint for loading current user data (#529)
  bundles/processing/AuthStore.tsx
  bundles/processing/PrimaryNavPopout.tsx
  bundles/processing/ProcessingSidebar.tsx
  bundles/processing/ProcessingV2.tsx
  bundles/public/apiv2/APIClient.tsx
  bundles/public/apiv2/APITypes.tsx
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/routes/me.tsx
  tests/apiv2/test_me.py
  tracker/api/urls.py
  tracker/api/views/me.py
Due: prettier, eslint, typescript

New donation reading pages (#527)
  bundles/.design_system/base_tokens.json
  bundles/.design_system/generated/Spacing.css
  bundles/processing/ActionLog.tsx
  bundles/processing/AuthStore.tsx
  bundles/processing/CreateEditDonationGroupModal.mod.css
  bundles/processing/CreateEditDonationGroupModal.tsx
  bundles/processing/DonationGroupsStore.tsx
  bundles/processing/DonationRow.mod.css
  bundles/processing/DonationRow.tsx
  bundles/processing/DonationsStore.tsx
  bundles/processing/MutationButton.tsx
  bundles/processing/PrimaryNavPopout.tsx
  bundles/processing/ProcessDonations.tsx
  bundles/processing/Processing.mod.css
  bundles/processing/ProcessingSidebar.tsx
  bundles/processing/ProcessingStore.tsx
  bundles/processing/ProcessingV2.tsx
  bundles/processing/ReadDonations.tsx
  bundles/processing/Theming.tsx
  bundles/public/apiv2/APIClient.tsx
  bundles/public/apiv2/APITypes.tsx
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/routes/donations.tsx
  bundles/public/apiv2/routes/me.tsx
  bundles/uikit/icons/CheckboxChecked.tsx
  bundles/uikit/icons/Dots.tsx
  bundles/uikit/icons/InfoCircle.tsx
  bundles/uikit/icons/Plus.tsx
  package.json
  tests/apiv2/test_me.py
  tracker/analytics/events.py
  tracker/api/urls.py
  tracker/api/views/donations.py
  tracker/api/views/me.py
  yarn.lock
Due: prettier, eslint, typescript

add webpack-bundle-analyzer for introspecting bundle sizes
  package.json
  webpack.config.js
  yarn.lock
Due: prettier, eslint, typescript

add webpack-bundle-analyzer for introspecting bundle sizes (#532)
  package.json
  webpack.config.js
  yarn.lock
Due: prettier, eslint, typescript

migration to squash Headset entries that only differ by case
  tests/test_headset.py
  tests/test_speedrun.py
  tracker/migrations/0029_headset_merge_case.py
Due: none

hopefully fix a flaky test
  tests/test_event.py
Due: none

migration to squash Headset entries that only differ by case (#536)
  tests/test_headset.py
  tests/test_speedrun.py
  tracker/migrations/0029_headset_merge_case.py
Due: none

hopefully fix a flaky test (#537)
  tests/test_event.py
Due: none

move common tracker settings out to a helper
  README.md
  tests/celery.py
  tests/test_donation.py
  tests/test_event.py
  tests/test_prize.py
  tests/test_settings.py
  tests/test_speedrun.py
  tests/test_tracker_settings.py
  tests/util.py
  tracker/__init__.py
  tracker/admin/donation.py
  tracker/admin/event.py
  tracker/admin/prize.py
  tracker/analytics/__init__.py
  tracker/api/views/donations.py
  tracker/auth.py
  tracker/commandutil.py
  tracker/management/commands/cache_giantbomb_info.py
  tracker/models/prize.py
  tracker/settings.py
  tracker/templates/admin/tracker/diagnostics.html
  tracker/templates/base.html
  tracker/templates/tracker/index.html
  tracker/templates/tracker/prize.html
  tracker/templates/tracker/prizeindex.html
  tracker/ui/views.py
  tracker/views/api.py
  tracker/views/common.py
  tracker/views/public.py
  tracker/viewutil.py
Due: none

move common tracker settings out to a helper (#538)
  README.md
  tests/celery.py
  tests/test_donation.py
  tests/test_event.py
  tests/test_prize.py
  tests/test_settings.py
  tests/test_speedrun.py
  tests/test_tracker_settings.py
  tests/util.py
  tracker/__init__.py
  tracker/admin/donation.py
  tracker/admin/event.py
  tracker/admin/prize.py
  tracker/analytics/__init__.py
  tracker/api/views/donations.py
  tracker/auth.py
  tracker/commandutil.py
  tracker/management/commands/cache_giantbomb_info.py
  tracker/models/prize.py
  tracker/settings.py
  tracker/templates/admin/tracker/diagnostics.html
  tracker/templates/base.html
  tracker/templates/tracker/index.html
  tracker/templates/tracker/prize.html
  tracker/templates/tracker/prizeindex.html
  tracker/ui/views.py
  tracker/views/api.py
  tracker/views/common.py
  tracker/views/public.py
  tracker/viewutil.py
Due: none

add limit/offset pagination to some v2 endpoints
  tracker/api/pagination.py
  tracker/api/serializers.py
  tracker/api/views/__init__.py
Due: none

wip - event nested mixin
  tracker/api/urls.py
  tracker/api/views/__init__.py
Due: none

add limit/offset pagination to some v2 endpoints
  tests/apiv2/test_donations.py
  tests/apiv2/test_events.py
  tests/apiv2/test_me.py
  tests/apiv2/util.py
  tests/util.py
  tracker/api/pagination.py
  tracker/api/serializers.py
  tracker/api/urls.py
  tracker/api/views/__init__.py
  tracker/ui/views.py
  tracker/urls.py
Due: none

add limit/offset pagination to some v2 endpoints (#539)
  tests/apiv2/test_donations.py
  tests/apiv2/test_events.py
  tests/apiv2/test_me.py
  tests/apiv2/util.py
  tests/util.py
  tracker/api/pagination.py
  tracker/api/serializers.py
  tracker/api/urls.py
  tracker/api/views/__init__.py
  tracker/ui/views.py
  tracker/urls.py
Due: none

Upgrade sparx to fix type resolution
  package.json
  yarn.lock
Due: none

Remove processed donations from groups on load
  bundles/processing/CreateEditDonationGroupModal.mod.css
  bundles/processing/CreateEditDonationGroupModal.tsx
  bundles/processing/DonationGroupsStore.tsx
  bundles/processing/PrimaryNavPopout.mod.css
  bundles/processing/PrimaryNavPopout.tsx
  bundles/processing/Processing.mod.css
  bundles/processing/ReadDonations.tsx
  bundles/processing/RelativeTime.tsx
  bundles/processing/UserPreferencesStore.tsx
  package.json
  yarn.lock
Due: prettier, eslint, typescript

more spacing on group editing dots
  bundles/processing/ReadDonations.tsx
Due: prettier, eslint, typescript

Feedback and improvements on new Read Donations page (#540)
  bundles/processing/CreateEditDonationGroupModal.mod.css
  bundles/processing/CreateEditDonationGroupModal.tsx
  bundles/processing/DonationGroupsStore.tsx
  bundles/processing/PrimaryNavPopout.mod.css
  bundles/processing/PrimaryNavPopout.tsx
  bundles/processing/Processing.mod.css
  bundles/processing/ReadDonations.tsx
  bundles/processing/RelativeTime.tsx
  bundles/processing/UserPreferencesStore.tsx
  package.json
  yarn.lock
Due: prettier, eslint, typescript

extract SearchKeywordsStore on the processing page
  bundles/processing/DonationRow.tsx
  bundles/processing/ProcessDonations.tsx
  bundles/processing/ProcessingStore.tsx
  bundles/processing/SearchKeywordsStore.tsx
Due: prettier, eslint, typescript

add keyword searching to Read Donations
  bundles/processing/ProcessDonations.tsx
  bundles/processing/ReadDonations.tsx
  bundles/processing/SearchKeywordsInput.tsx
Due: prettier, eslint, typescript

Add keyword searching for donations to new Read Donations page (#542)
  bundles/processing/DonationRow.tsx
  bundles/processing/ProcessDonations.tsx
  bundles/processing/ProcessingStore.tsx
  bundles/processing/ReadDonations.tsx
  bundles/processing/SearchKeywordsInput.tsx
  bundles/processing/SearchKeywordsStore.tsx
Due: prettier, eslint, typescript

fix adding/removing with donation groups
  bundles/processing/ReadDonations.tsx
Due: prettier, eslint, typescript

Enable drag and drop for donations within groups
  bundles/processing/DonationGroupsStore.tsx
  bundles/processing/DonationRow.mod.css
  bundles/processing/Processing.mod.css
  bundles/processing/ReadDonations.tsx
  bundles/uikit/icons/DragHandle.tsx
Due: prettier, eslint, typescript

Support reordering of donations within groups on Read Donations (#543)
  bundles/processing/DonationGroupsStore.tsx
  bundles/processing/DonationRow.mod.css
  bundles/processing/Processing.mod.css
  bundles/processing/ReadDonations.tsx
  bundles/uikit/icons/DragHandle.tsx
Due: prettier, eslint, typescript

rework how locked events affect admin pages
  tests/test_bid.py
  tests/test_donation.py
  tests/test_prize.py
  tracker/admin/bid.py
  tracker/admin/donation.py
  tracker/admin/event.py
  tracker/admin/forms.py
  tracker/admin/interstitial.py
  tracker/admin/prize.py
  tracker/admin/util.py
  tracker/lookups.py
  tracker/models/prize.py
Due: none

update theme for better translucents on dark theme
  bundles/.design_system/generated/Themes.css
  bundles/.design_system/themes.json
Due: prettier

Path conditions:
  prettier: any of: (.*)\.(js|jsx|ts|tsx|css)$, but not: (migrations/|static/(jquery.*|main.css))
  eslint: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
  typescript: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
