Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: prettier
  entry: ./node_modules/.bin/prettier
  language: node
  stages:
  - commit
  args:
  - --write

eslint:
  name: eslint
  entry: yarn fix:lint
  language: system
  stages:
  - commit
  pass_filenames: false

typescript:
  name: typescript
  entry: ./node_modules/.bin/tsc
  language: script
  stages:
  - push
  pass_filenames: false

moving a run over an anchor no longer leaves a gap
  tests/test_speedrun.py
  tracker/models/event.py
  tracker/views/commands.py
Due: none

prefetch video link types
  tracker/api/views/run.py
Due: none

add video link inline
  tracker/admin/__init__.py
  tracker/admin/event.py
  tracker/admin/forms.py
  tracker/admin/inlines.py
Due: none

add preliminary video links
  tracker/migrations/0036_add_video_links.py
Due: none

add preliminary video links
  tests/apiv2/test_runs.py
  tests/test_speedrun.py
  tracker/admin/__init__.py
  tracker/api/serializers.py
  tracker/api/views/run.py
  tracker/models/__init__.py
  tracker/models/event.py
Due: none

always sort donations on read page
  bundles/processing/modules/donations/DonationsStore.tsx
Due: prettier, eslint, typescript

wip - re-enable v2 and cap some autocompletes
  tracker/lookups.py
Due: none

wip - permissions fixes for admin
  tracker/admin/util.py
Due: none

wip - fix prize with too long provider
  bundles/tracker/prizes/components/PrizeCard.mod.css
Due: prettier

wip - unpin all unopen bids
  tests/test_bid.py
  tracker/models/bid.py
Due: none

wip - no server error when donationbid is missing bid
  tracker/models/bid.py
Due: none

wip - show step description
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - fix milestone admin search
  tracker/admin/donation.py
Due: none

wip - permissions check sync
  tracker/consumers/processing.py
Due: none

wip - add data to some run pages
  tracker/templates/tracker/run.html
  tracker/templates/tracker/runindex.html
Due: none

wip - adjust how chain steps display
  bundles/tracker/donation/components/DonationIncentives.tsx
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/partials/chaintable.html
  tracker/templates/tracker/partials/option.html
Due: prettier, eslint, typescript

wip - live page monitors bids
  tracker/eventutil.py
Due: none

wip - bump minimum to 12 hours
  tracker/models/event.py
Due: none

wip - lint fixes
  bundles/public/apiv2/HTTPUtils.tsx
Due: prettier, eslint, typescript

wip - correct paths for interstitial editor to avoid redirects
  bundles/admin/interstitials/Editor/index.tsx
Due: prettier, eslint, typescript

wip - exclude self from uniqueness check
  tracker/models/interstitial.py
Due: none

wip - fix specs
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  spec/fixtures/bid.ts
Due: prettier, eslint, typescript

wip - correct tense for relative run start
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - change permissions for first-stage donation processors
  tracker/admin/event.py
Due: none

wip - donation queryset helpers
  tracker/models/donation.py
  tracker/search_feeds.py
  tracker/views/public.py
Due: none

wip - correct totalWatch for child bids
  tracker/eventutil.py
Due: none

wip - donate form supports chains
  bundles/tracker/donation/__tests__/Donate.spec.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - fix tests
  tests/test_bid.py
Due: none

wip - adjust Next Checkpoint format on total watch
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - run prefetch
  tracker/views/public.py
Due: none

wip - feed dropdown on total_watch
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/actions/models.ts
  tracker/api/filters.py
  tracker/models/bid.py
Due: prettier, eslint, typescript

wip - add schedule viewer to volunteer emails
  tests/test_event.py
  tracker/admin/event.py
Due: none

wip - correct being able to create/change hidden bids
  tests/apiv2/test_bids.py
  tracker/api/views/bids.py
Due: none

wip - fix bid lookup permissions
  tracker/lookups.py
Due: none

wip - donation consumer test
  tests/test_consumers.py
Due: none

wip - show step description
  bundles/tracker/event_details/EventDetailsTypes.ts
Due: prettier, eslint, typescript

wip - donation socket uses v2 serializer for bid
  bundles/public/apiv2/Models.ts
  tracker/eventutil.py
Due: prettier, eslint, typescript

wip - fix sidebar wrap
  bundles/processing/modules/layout/SidebarLayout.tsx
Due: prettier, eslint, typescript

wip - fix get_recent_donations
  tracker/search_feeds.py
Due: none

Path conditions:
  prettier: any of: (.*)\.(js|jsx|ts|tsx|css)$, but not: (migrations/|static/(jquery.*|main.css))
  eslint: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
  typescript: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
