Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: prettier
  entry: yarn prettier
  language: system
  args:
  - --write

eslint:
  name: eslint
  entry: yarn fix:lint
  language: system
  pass_filenames: false

typescript:
  name: typescript
  entry: yarn tsc
  language: system
  stages:
  - push
  pass_filenames: false

document PAYPAL_TEST
  README.md
  tests/test_donation.py
  tests/test_settings.py
  tests/test_tracker_settings.py
  tracker/settings.py
  tracker/views/public.py
Due: none

document PAYPAL_TEST (#753)
  README.md
  tests/test_donation.py
  tests/test_settings.py
  tests/test_tracker_settings.py
  tracker/settings.py
  tracker/views/public.py
Due: none

add 'Schedule Viewer' as volunteer import role
  listperms.py
  package.json
  setup.py
  tests/test_event.py
  tracker/admin/event.py
  tracker/auth.py
Due: none

add 'Schedule Viewer' as volunteer import role (#754)
  listperms.py
  package.json
  setup.py
  tests/test_event.py
  tracker/admin/event.py
  tracker/auth.py
Due: none

add environment variable controls to webpack
  webpack.config.js
Due: prettier, eslint, typescript

do not try to show hidden bids from donation endpoints
  tests/apiv2/test_donations.py
  tests/randgen.py
  tracker/api/views/donations.py
  tracker/models/bid.py
  tracker/models/donation.py
Due: none

do not try to show hidden bids from donation endpoints (#755)
  tests/apiv2/test_donations.py
  tests/randgen.py
  tracker/api/views/donations.py
  tracker/models/bid.py
  tracker/models/donation.py
Due: none

add environment variable controls to webpack (#756)
  webpack.config.js
Due: prettier, eslint, typescript

fix event annotations for postgres
  tracker/models/event.py
Due: none

fix event annotations for postgres (#757)
  tracker/models/event.py
Due: none

add some missing DB prefetches
  tracker/api/views/interview.py
  tracker/api/views/run.py
Due: none

fix milestone admin search
  tracker/admin/donation.py
Due: none

fix milestone admin search (#759)
  tracker/admin/donation.py
Due: none

add some missing DB prefetches (#758)
  tracker/api/views/interview.py
  tracker/api/views/run.py
Due: none

remove special formatting for donation admin page
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

remove special formatting for donation admin page (#760)
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

preserve search filters after using Start Run action
  tests/test_speedrun.py
  tracker/admin/event.py
  tracker/templates/admin/tracker/generic_form.html
Due: none

add optional Run field to Milestones
  tests/apiv2/test_milestones.py
  tests/test_api.py
  tests/util.py
  tracker/admin/donation.py
  tracker/api/serializers.py
  tracker/migrations/0049_add_milestone_run.py
  tracker/models/donation.py
Due: none

correct Talent filter on API with no events
  tests/apiv2/test_talent.py
  tracker/api/views/talent.py
Due: none

wip - fix sidebar wrap
  bundles/processing/modules/layout/SidebarLayout.tsx
Due: prettier, eslint, typescript

wip - change permissions for first-stage donation processors
  tracker/admin/event.py
Due: none

wip - correct paths for interstitial editor to avoid redirects
  bundles/admin/interstitials/Editor/index.tsx
Due: prettier, eslint, typescript

WIP - totalWatch stuff
  .pre-commit-config.yaml
  bundles/admin/app.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/totalWatch.tsx
  bundles/public/api/actions/models.js
  bundles/public/api/actions/paginate.ts
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/Models.ts
  bundles/public/apiv2/actions/models.ts
  bundles/public/hooks/useFetchDonors.ts
  bundles/public/hooks/useFetchParents.ts
  tests/test_consumers.py
  tracker/admin/event.py
  tracker/api/filters.py
  tracker/api/serializers.py
  tracker/eventutil.py
  tracker/models/bid.py
  tracker/templates/admin/tracker/extra_actions.html
Due: prettier, eslint, typescript

wip - lint fixes
  bundles/public/apiv2/HTTPUtils.tsx
Due: prettier, eslint, typescript

wip - permissions fixes for admin
  tracker/admin/util.py
Due: none

wip - donate form supports chains
  bundles/tracker/donation/__tests__/Donate.spec.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - fix specs
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  spec/fixtures/bid.ts
Due: prettier, eslint, typescript

wip - child state propagation
  tracker/admin/inlines.py
  tracker/models/bid.py
Due: none

wip - adjust how chain steps display
  bundles/tracker/donation/components/DonationIncentives.tsx
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/partials/chaintable.html
  tracker/templates/tracker/partials/option.html
Due: prettier, eslint, typescript

wip - show step description
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/event_details/EventDetailsTypes.ts
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - just remove edit from schedule dragdrop for now
  bundles/admin/scheduleEditor/speedrunTable.js
Due: prettier, eslint, typescript

wip - misc
  tracker/admin/donation.py
  tracker/admin/forms.py
Due: none

wip - fix get_recent_donations
  tracker/search_feeds.py
Due: none

wip - add schedule viewer to volunteer emails
  tracker/admin/event.py
Due: none

wip - ordered runs must have length
  tests/test_interstitial.py
  tests/test_speedrun.py
Due: none

wip - add layout to run endpoint
  tests/apiv2/test_runs.py
  tracker/api/serializers.py
Due: none

wip - back to pk until v2 is finished
  bundles/admin/app.js
Due: prettier, eslint, typescript

wip - ts
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - public site id support
  README.md
  tests/test_prize.py
  tests/test_settings.py
  tests/test_util.py
  tracker/models/bid.py
  tracker/models/donation.py
  tracker/models/event.py
  tracker/models/prize.py
  tracker/settings.py
  tracker/util.py
Due: none

Path conditions:
  prettier: any of: (.*)\.(js|jsx|ts|tsx|css)$, but not: (migrations/|static/(jquery.*|main.css))
  eslint: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
  typescript: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
