Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

default_stages: [commit]
exclude: (migrations/|static/(jquery.*|main.css))
repos:
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      name: black
- repo: https://github.com/pycqa/flake8
  rev: 3.7.9
  hooks:
    - id: flake8
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: ./node_modules/.bin/prettier
      language: node
      stages: [commit]
      files: (.*)\.(js|jsx|ts|tsx|css)$
      args: ["--write"]
    - id: eslint
      name: eslint
      entry: yarn fix:lint
      language: system
      stages: [commit]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
    - id: typescript
      name: typescript
      entry: ./node_modules/.bin/tsc
      language: script
      stages: [push]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ["--fix=lf"]

wip - fix some more nested queries
  tracker/feeds/runs_calendar.py
  tracker/views/api.py
Due: none

wip - fix more nested queries
  tracker/models/prize.py
  tracker/templates/tracker/prize.html
  tracker/templates/tracker/prizeindex.html
  tracker/views/public.py
  webpack.config.js
Due: prettier, eslint, typescript

merge migrations
  tracker/migrations/0038_merge_20240213_2207.py
Due: none

wip - fix some more nested queries
  tracker/api/views/__init__.py
Due: none

merge migrations again
  tracker/migrations/0037_add_incentive_timing.py
  tracker/migrations/0039_merge_20240221_2104.py
Due: none

wip - fixed nested query loop in ads endpoint
  tracker/views/api.py
Due: none

better check_migrations
  check_migrations.py
Due: none

incentive timing for bids (#675)
  tests/apiv2/test_bids.py
  tracker/admin/bid.py
  tracker/admin/inlines.py
  tracker/api/serializers.py
  tracker/migrations/0039_add_incentive_timing.py
  tracker/models/bid.py
  tracker/models/fields.py
Due: none

wip - add run tags
  tests/apiv2/test_runs.py
  tests/test_speedrun.py
  tracker/admin/__init__.py
  tracker/admin/event.py
  tracker/admin/forms.py
  tracker/admin/util.py
  tracker/ajax_lookup_channels.py
  tracker/api/serializers.py
  tracker/lookups.py
  tracker/migrations/0040_add_run_tags.py
  tracker/models/__init__.py
  tracker/models/event.py
  tracker/search_filters.py
  tracker/static/light_trash.css
Due: prettier

wip - anchored interstitials
  .eslintrc
  bundles/admin/scheduleEditor/dragDrop/emptyTableDropTarget.tsx
  bundles/admin/scheduleEditor/dragDrop/speedrunDropTarget.tsx
  bundles/admin/scheduleEditor/index.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/scheduleEditor/speedrunTable.js
  bundles/public/api/actions/models.js
  bundles/public/api/reducers/models.js
  tracker/admin/interstitial.py
  tracker/api/serializers.py
  tracker/migrations/0039_add_interstitial_anchor.py
  tracker/models/interstitial.py
  tracker/views/commands.py
Due: prettier, eslint, typescript

wip - merge migrations
  tracker/migrations/0041_merge_0039_add_interstitial_anchor_0040_add_run_tags.py
Due: none

wip - better color fix
  tracker/static/light_trash.css
Due: prettier

wip - prefetch
  tracker/views/api.py
Due: none

wip - more prefetch
  tracker/api/views/run.py
Due: none

wip - add tags to interstitials
  tracker/admin/interstitial.py
  tracker/api/serializers.py
  tracker/migrations/0042_add_interstitial_tags.py
  tracker/models/interstitial.py
  tracker/views/api.py
Due: none

wip - another missing prefetch
  tracker/api/views/interview.py
Due: none

wip - fix some pk/id disagreements
  bundles/admin/app.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - just remove edit from schedule dragdrop for now
  bundles/admin/scheduleEditor/speedrunTable.js
Due: prettier, eslint, typescript

wip - ordered runs must have length
  tests/test_api.py
  tests/test_auth.py
  tests/test_interstitial.py
  tests/test_prize.py
  tests/test_speedrun.py
  tracker/api/views/donations.py
  tracker/models/event.py
  tracker/models/interstitial.py
Due: none

wip - add previous run to total watch
  bundles/admin/totalWatch.tsx
  tests/test_api.py
  tracker/views/api.py
Due: prettier, eslint, typescript

wip - adjust previous run total row
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - show setup time in full schedule
  tracker/templates/admin/tracker/view_full_schedule.html
Due: none

wip - add selenium skip flag
  tests/test_admin.py
Due: none

wip - optimize some admin queries
  tracker/admin/bid.py
  tracker/api/views/donations.py
Due: none

wip - show span of current run
  bundles/admin/totalWatch.tsx
  tracker/templates/admin/tracker/view_full_schedule.html
Due: prettier, eslint, typescript

wip - formatting change to total watch
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

'Start Run' works on anchored runs
  tests/test_speedrun.py
  tracker/admin/event.py
  tracker/admin/forms.py
Due: none

Update Node version matrix
  README.md
  azure-pipelines.yml
Due: none

Django 5.1 compatibility
  README.md
  azure-pipelines.yml
  runtests.py
  setup.py
  tests/requirements.txt
  tests/test_interstitial.py
Due: none

Update Node version matrix (#689)
  README.md
  azure-pipelines.yml
Due: none

'Start Run' works on anchored runs (#687)
  tests/test_speedrun.py
  tracker/admin/event.py
  tracker/admin/forms.py
Due: none

Django 5.1 compatibility (#688)
  README.md
  azure-pipelines.yml
  runtests.py
  setup.py
  tests/requirements.txt
  tests/test_interstitial.py
Due: none

add Pin indicator to Read Donations
  bundles/processing/modules/donations/DonationRow.tsx
Due: prettier, eslint, typescript

add Pin indicator to Read Donations (#690)
  bundles/processing/modules/donations/DonationRow.tsx
Due: prettier, eslint, typescript

add optional Interstitial run anchor
  tests/test_speedrun.py
  tracker/admin/interstitial.py
  tracker/api/serializers.py
  tracker/migrations/0040_add_interstitial_anchor.py
  tracker/models/interstitial.py
  tracker/views/commands.py
Due: none

wip - permissions fixes for admin
  tracker/admin/util.py
Due: none

wip - donation consumer test
  tests/test_consumers.py
Due: none

wip - correct totalWatch for child bids
  tracker/eventutil.py
Due: none

wip - save_form
  tracker/admin/util.py
Due: none

wip - child state propagation
  tracker/admin/inlines.py
  tracker/models/bid.py
Due: none
