Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

.pre-commit-config.yaml:

default_stages: [commit]
exclude: (migrations/|static/(jquery.*|main.css))
repos:
- repo: https://github.com/psf/black
  rev: 19.10b0
  hooks:
    - id: black
      name: black
- repo: https://gitlab.com/pycqa/flake8
  rev: 3.7.9
  hooks:
    - id: flake8
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: ./node_modules/.bin/prettier
      language: node
      stages: [commit]
      files: (.*)\.(js|jsx|ts|tsx|css)$
      args: ["--write"]
    - id: eslint
      name: eslint
      entry: ./node_modules/.bin/eslint
      language: node
      stages: [commit]
      files: (.*)\.(jsx?|tsx?)$
      args: ["--fix", "--quiet"]
    - id: typescript
      name: typescript
      entry: ./node_modules/.bin/tsc
      language: script
      stages: [push]
      pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ["--fix=lf"]

add explicit ordering after an annotate
  tracker/views/public.py
Due: none

add dark theming option
  bundles/admin/processing/ActionLog.mod.css
  bundles/admin/processing/AutoRefresher.mod.css
  bundles/admin/processing/Button.mod.css
  bundles/admin/processing/Button.tsx
  bundles/admin/processing/DonationRow.mod.css
  bundles/admin/processing/DonationRow.tsx
  bundles/admin/processing/Input.mod.css
  bundles/admin/processing/Input.tsx
  bundles/admin/processing/ProcessDonations.tsx
  bundles/admin/processing/Processing.mod.css
  bundles/admin/processing/ProcessingV2.tsx
  bundles/admin/processing/Theming.mod.css
  bundles/admin/processing/Theming.tsx
  bundles/uikit/icons/Moon.tsx
  bundles/uikit/icons/Sun.tsx
Due: prettier, eslint

fix linebreaks on process/read donations
  bundles/admin/donationProcessing/donations.mod.css
Due: prettier

minor donation header reshuffle for clarity
  bundles/admin/processing/DonationRow.mod.css
  bundles/admin/processing/DonationRow.tsx
  bundles/admin/processing/Processing.mod.css
  bundles/admin/processing/Theming.mod.css
Due: prettier, eslint

fix donation tests?
  tests/randgen.py
Due: none

donation screening explicitly sorts by PK
  bundles/admin/donationProcessing/processDonations.tsx
Due: prettier, eslint

bids can be pinned
  tests/test_api.py
  tests/test_bid.py
  tests/test_search_filters.py
  tracker/admin/bid.py
  tracker/migrations/0020_add_pinned_to_bid.py
  tracker/migrations/0021_merge_20210628_2126.py
  tracker/models/bid.py
  tracker/search_feeds.py
  tracker/views/api.py
Due: none

Donation processing endpoints in API v2
  runtests.py
  tests/apiv2/__init__.py
  tests/apiv2/test_donations.py
  tests/apiv2/util.py
  tests/randgen.py
  tracker/analytics/events.py
  tracker/api/permissions.py
  tracker/api/serializers.py
  tracker/api/urls.py
  tracker/api/views/__init__.py
  tracker/api/views/donations.py
  tracker/models/mod_filter.py
  tracker/ui/views.py
Due: none

auto approve threshold is handled elsewhere
  tracker/paypalutil.py
Due: none

wip - correct paths for interstitial editor to avoid redirects
  bundles/admin/interstitials/Editor/index.tsx
Due: prettier, eslint

wip - actually include the password reset url in volunteer emails
  tracker/auth.py
Due: none

wip - use the actual real correct feed I swear
  bundles/admin/totalWatch.tsx
Due: prettier, eslint

wip - add pinning to bids
  bundles/admin/totalWatch.tsx
  tests/test_bid.py
  tracker/search_feeds.py
Due: prettier, eslint

wip - use run fetch
  bundles/admin/totalWatch.tsx
Due: prettier, eslint

wip - fix child grouping
  bundles/admin/totalWatch.tsx
Due: prettier, eslint

fix TotalWatch after TypeScript upgrades
  bundles/admin/app.js
  bundles/admin/totalWatch.tsx
Due: prettier, eslint

wip - fix for one step screening
  tracker/templates/admin/tracker/process_donations.html
Due: none

wip - disable v2 for now
  tracker/urls.py
Due: none

wip - totalWatch uses current_plus
  bundles/admin/totalWatch.tsx
  tests/test_consumers.py
Due: prettier, eslint

wip - fetch all bids for current run
  bundles/admin/totalWatch.tsx
Due: prettier, eslint

wip - donation queryset helpers
  tracker/models/donation.py
  tracker/search_feeds.py
  tracker/views/public.py
Due: none

wip - sort by speedrun order and show speedrun name if possible
  bundles/admin/totalWatch.tsx
Due: prettier, eslint

wip - experimental watch page
  bundles/admin/app.js
  bundles/admin/totalWatch.tsx
Due: prettier, eslint

wip - change permissions for first-stage donation processors
  tracker/admin/event.py
Due: none

wip - live page monitors bids
  bundles/admin/totalWatch.tsx
  tracker/eventutil.py
  tracker/search_feeds.py
Due: prettier, eslint

wip - add concept of current event
  tests/test_event.py
  tracker/models/event.py
  tracker/ui/views.py
Due: none

wip - fix permissions for pending bids and also add a not found warning
  bundles/admin/app.js
  bundles/public/notFound.tsx
Due: prettier, eslint

wip - more bid data with postback
  tracker/eventutil.py
Due: none

wip - use the right feed
  bundles/admin/totalWatch.tsx
Due: prettier, eslint

wip - check for multiple permissions
  bundles/admin/app.js
  bundles/public/api/helpers/auth.js
Due: prettier, eslint

wip - correctly parse partial seconds
  bundles/admin/totalWatch.tsx
Due: prettier, eslint

wip - got added twice in the rebase
  tests/test_bid.py
Due: none

remove old Donation/Bid processing pages and related files
  tests/test_admin.py
  tracker/admin/bid.py
  tracker/admin/donation.py
  tracker/forms.py
  tracker/static/ProcessingNode.js
  tracker/static/donationbids.js
  tracker/static/jquery-ui.css
  tracker/static/jquery-ui.js
  tracker/static/jquery-ui.min.js
  tracker/static/jquery.cookie.js
  tracker/static/jquery.datetimepicker.css
  tracker/static/jquery.datetimepicker.js
  tracker/static/jquery.formset.js
  tracker/static/jquery.js
  tracker/static/jquery.min.js
  tracker/templates/admin/tracker/process_donations.html
  tracker/templates/admin/tracker/process_pending_bids.html
  tracker/templates/admin/tracker/read_donations.html
  tracker/templates/base.html
  tracker/templates/tracker/submit_prize.html
  tracker/widgets.py
Due: prettier, eslint
