Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

default_stages: [commit]
exclude: (migrations/|static/(jquery.*|main.css))
repos:
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      name: black
- repo: https://github.com/pycqa/flake8
  rev: 3.7.9
  hooks:
    - id: flake8
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: ./node_modules/.bin/prettier
      language: node
      stages: [commit]
      files: (.*)\.(js|jsx|ts|tsx|css)$
      args: ["--write"]
    - id: eslint
      name: eslint
      entry: yarn fix:lint
      language: system
      stages: [commit]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
    - id: typescript
      name: typescript
      entry: ./node_modules/.bin/tsc
      language: script
      stages: [push]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ["--fix=lf"]

wip - fix milestone admin search
  tracker/admin/donation.py
Due: none

wip - fixed nested query loop in ads endpoint
  tracker/views/api.py
Due: none

wip - bump minimum to 12 hours
  tracker/models/event.py
Due: none

wip - remove special formatting
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

wip - disable donor list/detail pages for now
  tests/test_api.py
  tests/test_bid.py
  tests/test_donation.py
  tests/test_donor.py
  tracker/models/donation.py
  tracker/templates/base.html
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/donation.html
  tracker/templates/tracker/donationindex.html
  tracker/templates/tracker/donor.html
  tracker/templates/tracker/index.html
  tracker/templates/tracker/partials/donor_link.html
  tracker/urls.py
  tracker/views/api.py
Due: none

WIP WIP WIP WIP WIP
  tracker/migrations/0037_add_incentive_timing.py
Due: none

wip - add next checkpoint and extra formatting to total watch
  webpack.config.js
Due: prettier, eslint, typescript

wip - fix donor prefetch on donation list
  tracker/views/public.py
Due: none

wip - fix some more nested queries
  tracker/feeds/runs_calendar.py
  tracker/views/api.py
Due: none

better check_migrations
  check_migrations.py
Due: none

merge migrations again
  tracker/migrations/0037_add_incentive_timing.py
  tracker/migrations/0039_merge_20240221_2104.py
Due: none

merge migrations
  tracker/migrations/0038_merge_20240213_2207.py
Due: none

fix migrations
  tracker/migrations/0037_add_incentive_timing.py
  tracker/migrations/0038_merge_20240213_2207.py
  tracker/migrations/0039_merge_20240221_2104.py
Due: none

wip - fix more nested queries
  tracker/models/prize.py
  tracker/templates/tracker/prize.html
  tracker/templates/tracker/prizeindex.html
  tracker/views/public.py
  webpack.config.js
Due: prettier, eslint, typescript

wip - fix some more nested queries
  tracker/api/views/__init__.py
Due: none

wip - better color fix
  tracker/static/light_trash.css
Due: prettier

wip - merge migrations
  tracker/migrations/0041_merge_0039_add_interstitial_anchor_0040_add_run_tags.py
Due: none

wip - add run tags
  tests/apiv2/test_runs.py
  tests/test_speedrun.py
  tracker/admin/__init__.py
  tracker/admin/event.py
  tracker/admin/forms.py
  tracker/admin/util.py
  tracker/ajax_lookup_channels.py
  tracker/api/serializers.py
  tracker/lookups.py
  tracker/migrations/0040_add_run_tags.py
  tracker/models/__init__.py
  tracker/models/event.py
  tracker/search_filters.py
  tracker/static/light_trash.css
Due: prettier

wip - prefetch
  tracker/views/api.py
Due: none

wip - anchored interstitials
  .eslintrc
  bundles/admin/scheduleEditor/dragDrop/emptyTableDropTarget.tsx
  bundles/admin/scheduleEditor/dragDrop/speedrunDropTarget.tsx
  bundles/admin/scheduleEditor/index.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/scheduleEditor/speedrunTable.js
  bundles/public/api/actions/models.js
  bundles/public/api/reducers/models.js
  tracker/migrations/0039_add_interstitial_anchor.py
  tracker/models/interstitial.py
  tracker/views/commands.py
Due: prettier, eslint, typescript

wip - more prefetch
  tracker/api/views/run.py
Due: none

wip - another missing prefetch
  tracker/api/views/interview.py
Due: none

wip - add tags to interstitials
  tracker/admin/interstitial.py
  tracker/api/serializers.py
  tracker/migrations/0042_add_interstitial_tags.py
  tracker/models/interstitial.py
  tracker/views/api.py
Due: none

wip - ordered runs must have length
  tests/test_api.py
  tests/test_auth.py
  tests/test_interstitial.py
  tests/test_prize.py
  tests/test_speedrun.py
  tracker/api/views/donations.py
  tracker/models/event.py
  tracker/models/interstitial.py
Due: none

wip - fix some pk/id disagreements
  bundles/admin/app.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - fix m2m in v1
  tests/test_api.py
  tracker/views/api.py
Due: none

wip - just remove edit from schedule dragdrop for now
  bundles/admin/scheduleEditor/speedrunTable.js
Due: prettier, eslint, typescript

wip - add selenium skip flag
  tests/test_admin.py
Due: none

wip - migrations
  tracker/migrations/0039_add_interstitial_anchor.py
Due: none

wip - misc
  tracker/admin/donation.py
  tracker/admin/forms.py
Due: none

wip - optimize some admin queries
  tracker/admin/bid.py
  tracker/api/views/donations.py
Due: none

wip - fix IPN amount disagreement
  tracker/paypalutil.py
  tracker/views/donateviews.py
Due: none

update axios to mitigate a non-critical CVE
  package.json
  yarn.lock
Due: none

wip - show milestones on Total Watch
  bundles/admin/totalWatch.tsx
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/Models.ts
  bundles/public/apiv2/actions/models.ts
  tracker/api/serializers.py
  tracker/api/views/donations.py
Due: prettier, eslint, typescript

wip - adjust formatting
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - adjust formatting again
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

adjust Package conditions
  azure-pipelines.yml
Due: none

add selenium skip flag
  tests/test_admin.py
Due: none

add selenium skip flag (#705)
  tests/test_admin.py
Due: none
