Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

default_stages: [pre-commit]
exclude: (migrations/|static/(jquery.*|main.css))
repos:
- repo: https://github.com/psf/black
  rev: 24.8.0
  hooks:
    - id: black
      name: black
- repo: https://github.com/pycqa/isort
  rev: 5.13.2
  hooks:
    - id: isort
      name: isort (python)
- repo: https://github.com/pycqa/flake8
  rev: 7.1.1
  hooks:
    - id: flake8
- repo: https://github.com/pycqa/autoflake
  rev: v2.3.1
  hooks:
    - id: autoflake
      args: [--remove-all-unused-imports, --in-place]
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: yarn prettier
      language: system
      files: (.*)\.(js|jsx|ts|tsx|css)$
      args: ["--write"]
    - id: eslint
      name: eslint
      entry: yarn fix:lint
      language: system
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
    - id: typescript
      name: typescript
      entry: yarn tsc
      language: system
      stages: [pre-push]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
    - id: check-json
    - id: check-yaml
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ["--fix=lf"]

wip - adjust start run
  tests/test_speedrun.py
  tracker/admin/event.py
Due: none

wip - remove delete_selected from run admin since it is broken anyhow
  tracker/admin/event.py
Due: none

wip - fix tests and migration
  tests/apiv2/test_api.py
Due: none

wip - validate endpoint
  tests/apiv2/test_api.py
  tests/util.py
  tracker/api/views/__init__.py
Due: none

wip - sites in selenium tests
  tests/test_admin.py
Due: none

wip - fix tests
  tests/util.py
Due: none

wip - email domain fixup
  tracker/admin/event.py
  tracker/api/views/__init__.py
  tracker/auth.py
Due: none

wip - style and other tweaks
  bundles/processing/pages/ProcessDonations.tsx
  bundles/processing/pages/ReadDonations.tsx
  bundles/public/Title.tsx
  bundles/tracker/prizes/components/Prizes.tsx
Due: prettier, eslint, typescript

wip - type fixes
  bundles/processing/pages/ProcessDonations.tsx
  bundles/processing/pages/ReadDonations.tsx
Due: prettier, eslint, typescript

wip - isort
  tests/test_admin.py
Due: none

add Title and EventTitle React components
  bundles/processing/pages/ProcessDonations.tsx
  bundles/processing/pages/ReadDonations.tsx
  bundles/public/EventTitle.tsx
  bundles/public/Title.tsx
  bundles/tracker/prizes/components/Prizes.tsx
Due: prettier, eslint, typescript

make delete_selected more robust
  tests/apiv2/test_donors.py
  tests/apiv2/test_interstitials.py
  tests/apiv2/test_prizes.py
  tests/apiv2/test_talent.py
  tests/apiv2/test_videolinks.py
  tests/randgen.py
  tests/test_admin.py
  tests/test_prize.py
  tests/test_prizemail.py
  tests/util.py
  tracker/admin/bid.py
  tracker/admin/event.py
  tracker/admin/prize.py
  tracker/admin/util.py
  tracker/templates/admin/tracker/change_form.html
Due: none

make delete_selected more robust (#861)
  tests/apiv2/test_donors.py
  tests/apiv2/test_interstitials.py
  tests/apiv2/test_prizes.py
  tests/apiv2/test_talent.py
  tests/apiv2/test_videolinks.py
  tests/randgen.py
  tests/test_admin.py
  tests/test_prize.py
  tests/test_prizemail.py
  tests/util.py
  tracker/admin/bid.py
  tracker/admin/event.py
  tracker/admin/prize.py
  tracker/admin/util.py
  tracker/templates/admin/tracker/change_form.html
Due: none

add Title and EventTitle React components (#862)
  bundles/processing/pages/ProcessDonations.tsx
  bundles/processing/pages/ReadDonations.tsx
  bundles/public/EventTitle.tsx
  bundles/public/Title.tsx
  bundles/tracker/prizes/components/Prizes.tsx
Due: prettier, eslint, typescript

enhance Start Run
  tests/test_speedrun.py
  tracker/admin/event.py
  tracker/admin/forms.py
  tracker/static/forms/hide_disabled_border.css
  tracker/templates/admin/tracker/generic_form.html
Due: prettier

enhance Start Run (#863)
  tests/test_speedrun.py
  tracker/admin/event.py
  tracker/admin/forms.py
  tracker/static/forms/hide_disabled_border.css
  tracker/templates/admin/tracker/generic_form.html
Due: prettier

packaging updates
  azure-pipelines.yml
  package.json
  pyproject.toml
  setup.py
  tracker/__init__.py
  webpack.config.js
Due: prettier, eslint, typescript

packaging updates (#858)
  azure-pipelines.yml
  package.json
  pyproject.toml
  setup.py
  tracker/__init__.py
  webpack.config.js
Due: prettier, eslint, typescript

add host-only screening mode
  README.md
  bundles/processing/modules/reading/ReadingDonationRow.tsx
  bundles/processing/pages/ProcessDonations.tsx
  bundles/public/apiv2/Models.ts
  spec/fixtures/event.ts
  tests/apiv2/test_donations.py
  tests/apiv2/test_events.py
  tests/test_admin.py
  tests/test_donation.py
  tests/test_event.py
  tracker/admin/donation.py
  tracker/admin/event.py
  tracker/api/serializers.py
  tracker/api/views/donations.py
  tracker/migrations/0072_add_event_screening_mode.py
  tracker/migrations/0073_migrate_screening_mode.py
  tracker/migrations/0074_remove_event_one_step_screening.py
  tracker/models/donation.py
  tracker/models/event.py
Due: prettier, eslint, typescript

add host-only screening mode (#864)
  README.md
  bundles/processing/modules/reading/ReadingDonationRow.tsx
  bundles/processing/pages/ProcessDonations.tsx
  bundles/public/apiv2/Models.ts
  spec/fixtures/event.ts
  tests/apiv2/test_donations.py
  tests/apiv2/test_events.py
  tests/test_admin.py
  tests/test_donation.py
  tests/test_event.py
  tracker/admin/donation.py
  tracker/admin/event.py
  tracker/api/serializers.py
  tracker/api/views/donations.py
  tracker/migrations/0072_add_event_screening_mode.py
  tracker/migrations/0073_migrate_screening_mode.py
  tracker/migrations/0074_remove_event_one_step_screening.py
  tracker/models/donation.py
  tracker/models/event.py
Due: prettier, eslint, typescript

add explicit test for Donation Bid admin columns/filters
  tests/test_bid.py
Due: none

add explicit test for Donation Bid admin columns/filters (#866)
  tests/test_bid.py
Due: none

Bid admin child state improvements
  tests/test_bid.py
  tests/util.py
  tracker/admin/bid.py
  tracker/admin/inlines.py
  tracker/admin/log.py
  tracker/models/bid.py
Due: none

Bid admin child state improvements (#867)
  tests/test_bid.py
  tests/util.py
  tracker/admin/bid.py
  tracker/admin/inlines.py
  tracker/admin/log.py
  tracker/models/bid.py
Due: none

add generic validate endpoint to most API endpoints
  tests/apiv2/test_api.py
  tests/apiv2/test_bids.py
  tests/apiv2/test_donations.py
  tests/apiv2/test_runs.py
  tests/util.py
  tracker/api/views/__init__.py
Due: none

add generic validate endpoint to most API endpoints (#868)
  tests/apiv2/test_api.py
  tests/apiv2/test_bids.py
  tests/apiv2/test_donations.py
  tests/apiv2/test_runs.py
  tests/util.py
  tracker/api/views/__init__.py
Due: none

show domain in registration email
  tests/test_auth.py
  tracker/auth.py
  tracker/templatetags/donation_tags.py
  tracker/views/auth.py
Due: none

show domain in registration email (#869)
  tests/test_auth.py
  tracker/auth.py
  tracker/templatetags/donation_tags.py
  tracker/views/auth.py
Due: none

tqdm_groupby actually tracks the completion progress
  tests/requirements.txt
  tests/test_util.py
  tracker/util.py
Due: none

tqdm_groupby actually tracks the completion progress (#870)
  tests/requirements.txt
  tests/test_util.py
  tracker/util.py
Due: none

add an index on the Log timestamp column
  tracker/migrations/0076_add_index_log_timestamp.py
  tracker/models/log.py
Due: none

add an index on the Log timestamp column (#871)
  tracker/migrations/0076_add_index_log_timestamp.py
  tracker/models/log.py
Due: none

use Django template static tags in webpack templates
  README.md
  tracker/templates/ui/index.html
  tracker/templates/ui/minimal.html
  webpack.config.js
Due: prettier, eslint, typescript

prize image upload uses prize id in path
  tracker/migrations/0077_alter_prize_imagefile.py
  tracker/models/prize.py
Due: none
