Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: prettier
  entry: ./node_modules/.bin/prettier
  language: node
  stages:
  - commit
  args:
  - --write

eslint:
  name: eslint
  entry: yarn fix:lint
  language: system
  stages:
  - commit
  pass_filenames: false

typescript:
  name: typescript
  entry: ./node_modules/.bin/tsc
  language: script
  stages:
  - push
  pass_filenames: false

wip - disable donor list/detail pages for now
  tests/test_api.py
  tests/test_bid.py
  tests/test_donation.py
  tests/test_donor.py
  tracker/models/donation.py
  tracker/templates/base.html
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/donation.html
  tracker/templates/tracker/donationindex.html
  tracker/templates/tracker/donor.html
  tracker/templates/tracker/index.html
  tracker/templates/tracker/partials/donor_link.html
  tracker/urls.py
  tracker/views/api.py
Due: none

wip - remove special formatting
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

wip - save_form
  tracker/admin/util.py
Due: none

wip - fix total_watch to handle chained bids
  bundles/public/apiv2/Models.ts
  tracker/admin/bid.py
Due: prettier, eslint, typescript

wip totalWatch in total
  bundles/admin/app.js
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - fix interstitial uniqueness
  tracker/models/interstitial.py
Due: none

wip - add next checkpoint and extra formatting to total watch
  bundles/admin/totalWatch.tsx
  tracker/admin/event.py
  tracker/templates/admin/tracker/extra_actions.html
  webpack.config.js
Due: prettier, eslint, typescript

wip - misc fixes
  listperms.py
  package.json
  webpack.config.js
Due: prettier, eslint, typescript

wip - exclude self from uniqueness check
  tracker/models/interstitial.py
Due: none

wip - fix Bid typing
  bundles/public/apiv2/Models.ts
Due: prettier, eslint, typescript

wip - fix event annotations for postgres
  tracker/models/event.py
Due: none

wip - fix tests
  tests/test_consumers.py
Due: none

wip - total watch shows donation intervals
  bundles/public/api/actions/models.js
  bundles/public/api/actions/paginate.ts
  bundles/public/hooks/useFetchDonors.ts
Due: prettier, eslint, typescript

WIP WIP WIP WIP WIP
  tracker/admin/bid.py
  tracker/admin/inlines.py
  tracker/migrations/0037_add_incentive_timing.py
  tracker/models/bid.py
  tracker/models/fields.py
Due: none

wip - child state propagation
  tracker/admin/inlines.py
  tracker/models/bid.py
Due: none

wip - fixed nested query loop in ads endpoint
  tracker/views/api.py
Due: none

wip - fix donor prefetch on donation list
  tracker/views/public.py
Due: none

wip - fix some more nested queries
  tracker/feeds/runs_calendar.py
  tracker/views/api.py
Due: none

wip - fix more nested queries
  tracker/models/prize.py
  tracker/templates/tracker/prize.html
  tracker/templates/tracker/prizeindex.html
  tracker/views/public.py
  webpack.config.js
Due: prettier, eslint, typescript

wip - fix some more nested queries
  tracker/api/views/__init__.py
Due: none

add `start` field to Milestone model
  tests/test_api.py
  tests/test_milestone.py
  tests/test_settings.py
  tracker/admin/donation.py
  tracker/migrations/0036_add_milestone_start.py
  tracker/models/donation.py
Due: none

add `start` field to Milestone model (#647)
  tests/test_api.py
  tests/test_milestone.py
  tests/test_settings.py
  tracker/admin/donation.py
  tracker/migrations/0036_add_milestone_start.py
  tracker/models/donation.py
Due: none

add video links
  bundles/common/Permissions.ts
  tests/apiv2/test_runs.py
  tests/apiv2/test_videolinks.py
  tests/test_speedrun.py
  tracker/admin/__init__.py
  tracker/admin/event.py
  tracker/admin/forms.py
  tracker/admin/inlines.py
  tracker/api/serializers.py
  tracker/api/views/run.py
  tracker/migrations/0037_add_video_links.py
  tracker/models/__init__.py
  tracker/models/event.py
Due: prettier, eslint, typescript

add video links (#648)
  bundles/common/Permissions.ts
  tests/apiv2/test_runs.py
  tests/apiv2/test_videolinks.py
  tests/test_speedrun.py
  tracker/admin/__init__.py
  tracker/admin/event.py
  tracker/admin/forms.py
  tracker/admin/inlines.py
  tracker/api/serializers.py
  tracker/api/views/run.py
  tracker/migrations/0037_add_video_links.py
  tracker/models/__init__.py
  tracker/models/event.py
Due: prettier, eslint, typescript

always sort donations on read page
  bundles/processing/modules/donations/DonationsStore.tsx
Due: prettier, eslint, typescript

always sort donations on read page (#649)
  bundles/processing/modules/donations/DonationsStore.tsx
Due: prettier, eslint, typescript

[apiv2] Add more fields to runs to match v1 details
  tests/apiv2/test_runs.py
  tracker/api/serializers.py
Due: none

[apiv2] Add more fields to runs to match v1 details (#651)
  tests/apiv2/test_runs.py
  tracker/api/serializers.py
Due: none

incentive timing for bids
  tracker/admin/bid.py
  tracker/admin/inlines.py
  tracker/migrations/0038_add_incentive_timing.py
  tracker/models/bid.py
  tracker/models/fields.py
Due: none

fix Milestone start validation
  tests/test_milestone.py
  tracker/migrations/0038_milestone_start_zero.py
  tracker/models/donation.py
Due: none

fix Milestone start validation (#654)
  tests/test_milestone.py
  tracker/migrations/0038_milestone_start_zero.py
  tracker/models/donation.py
Due: none

Lock pre-commit for Python 3.8
  tests/requirements.txt
Due: none

wip - donate form supports chains
  bundles/tracker/donation/__tests__/Donate.spec.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - donation socket uses v2 serializer for bid
  bundles/public/apiv2/Models.ts
  tracker/eventutil.py
Due: prettier, eslint, typescript

wip - live page monitors bids
  tracker/eventutil.py
Due: none

wip - adjust Next Checkpoint format on total watch
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - show step description
  bundles/tracker/event_details/EventDetailsTypes.ts
Due: prettier, eslint, typescript

wip - run prefetch
  tracker/views/public.py
Due: none

Path conditions:
  prettier: any of: (.*)\.(js|jsx|ts|tsx|css)$, but not: (migrations/|static/(jquery.*|main.css))
  eslint: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
  typescript: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
