Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: prettier
  entry: ./node_modules/.bin/prettier
  language: node
  stages:
  - commit
  args:
  - --write

eslint:
  name: eslint
  entry: yarn fix:lint
  language: system
  stages:
  - commit
  pass_filenames: false

typescript:
  name: typescript
  entry: ./node_modules/.bin/tsc
  language: script
  stages:
  - push
  pass_filenames: false

wip - fix prize with too long provider
  bundles/tracker/prizes/components/PrizeCard.mod.css
Due: prettier

wip - permissions check sync
  tracker/consumers/processing.py
Due: none

wip - change permissions for first-stage donation processors
  tracker/admin/event.py
Due: none

wip - save_form
  tracker/admin/util.py
Due: none

wip - adjust Next Checkpoint format on total watch
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - fix specs
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  spec/fixtures/bid.ts
Due: prettier, eslint, typescript

wip - unpin all unopen bids
  tests/test_bid.py
  tracker/models/bid.py
Due: none

wip - fix total_watch to handle chained bids
  bundles/public/apiv2/Models.ts
  tracker/admin/bid.py
Due: prettier, eslint, typescript

wip - fix milestone admin search
  tracker/admin/donation.py
Due: none

wip - fix interstitial uniqueness
  tracker/models/interstitial.py
Due: none

wip - correct totalWatch for child bids
  tracker/eventutil.py
Due: none

wip - fix event annotations for postgres
  tracker/models/event.py
Due: none

wip - live page monitors bids
  tracker/eventutil.py
Due: none

wip - run prefetch
  tracker/views/public.py
Due: none

wip - disable donor list/detail pages for now
  tests/test_api.py
  tests/test_bid.py
  tests/test_donation.py
  tests/test_donor.py
  tracker/models/donation.py
  tracker/templates/base.html
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/donation.html
  tracker/templates/tracker/donationindex.html
  tracker/templates/tracker/donor.html
  tracker/templates/tracker/index.html
  tracker/templates/tracker/partials/donor_link.html
  tracker/urls.py
  tracker/views/api.py
Due: none

wip - correct being able to create/change hidden bids
  tests/apiv2/test_bids.py
  tracker/api/views/bids.py
Due: none

wip - no server error when donationbid is missing bid
  tracker/models/bid.py
Due: none

wip - fix bid lookup permissions
  tracker/lookups.py
Due: none

wip - fix tests
  tests/test_bid.py
Due: none

wip - fix tests
  tests/test_consumers.py
Due: none

wip - adjust how chain steps display
  bundles/tracker/donation/components/DonationIncentives.tsx
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/partials/chaintable.html
  tracker/templates/tracker/partials/option.html
Due: prettier, eslint, typescript

wip - total watch shows donation intervals
  bundles/public/api/actions/models.js
  bundles/public/api/actions/paginate.ts
  bundles/public/hooks/useFetchDonors.ts
Due: prettier, eslint, typescript

wip - add next checkpoint and extra formatting to total watch
  bundles/admin/totalWatch.tsx
  tracker/admin/event.py
  tracker/templates/admin/tracker/extra_actions.html
  webpack.config.js
Due: prettier, eslint, typescript

wip - permissions fixes for admin
  tracker/admin/util.py
Due: none

wip - correct paths for interstitial editor to avoid redirects
  bundles/admin/interstitials/Editor/index.tsx
Due: prettier, eslint, typescript

wip - fix sidebar wrap
  bundles/processing/modules/layout/SidebarLayout.tsx
Due: prettier, eslint, typescript

wip - correct tense for relative run start
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - fix Bid typing
  bundles/public/apiv2/Models.ts
Due: prettier, eslint, typescript

wip - bump minimum to 12 hours
  tracker/models/event.py
Due: none

wip totalWatch in total
  bundles/admin/app.js
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - feed dropdown on total_watch
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/actions/models.ts
  tracker/api/filters.py
  tracker/models/bid.py
Due: prettier, eslint, typescript

wip - show step description
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - fix get_recent_donations
  tracker/search_feeds.py
Due: none

incentive timing for bids
  tracker/migrations/0038_add_incentive_timing.py
Due: none

wip - donation socket uses v2 serializer for bid
  bundles/public/apiv2/Models.ts
  tracker/eventutil.py
Due: prettier, eslint, typescript

wip - child state propagation
  tracker/admin/inlines.py
  tracker/models/bid.py
Due: none

wip - misc fixes
  listperms.py
  package.json
  webpack.config.js
Due: prettier, eslint, typescript

WIP WIP WIP WIP WIP
  tracker/migrations/0037_add_incentive_timing.py
Due: none

fix migrations
  tracker/migrations/0037_add_incentive_timing.py
  tracker/migrations/0038_add_incentive_timing.py
  tracker/migrations/0038_merge_20240213_2207.py
  tracker/migrations/0039_merge_20240221_2104.py
Due: none

wip - fix donor prefetch on donation list
  tracker/views/public.py
Due: none

Path conditions:
  prettier: any of: (.*)\.(js|jsx|ts|tsx|css)$, but not: (migrations/|static/(jquery.*|main.css))
  eslint: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
  typescript: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
