Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

default_stages: [commit]
exclude: (migrations/|static/(jquery.*|main.css))
repos:
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      name: black
- repo: https://github.com/pycqa/flake8
  rev: 3.7.9
  hooks:
    - id: flake8
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: ./node_modules/.bin/prettier
      language: node
      stages: [commit]
      files: (.*)\.(js|jsx|ts|tsx|css)$
      args: ["--write"]
    - id: eslint
      name: eslint
      entry: yarn fix:lint
      language: system
      stages: [commit]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
    - id: typescript
      name: typescript
      entry: ./node_modules/.bin/tsc
      language: script
      stages: [push]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ["--fix=lf"]

wip - add schedule viewer to volunteer emails
  tests/test_event.py
  tracker/admin/event.py
Due: none

wip - show step description
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - fix bid lookup permissions
  tracker/lookups.py
Due: none

wip - fix get_recent_donations
  tracker/search_feeds.py
Due: none

wip - remove special formatting
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

fix migrations
  tracker/migrations/0037_add_incentive_timing.py
  tracker/migrations/0038_merge_20240213_2207.py
  tracker/migrations/0039_merge_20240221_2104.py
Due: none

better check_migrations
  check_migrations.py
Due: none

WIP WIP WIP WIP WIP
  tracker/migrations/0037_add_incentive_timing.py
Due: none

wip - bump minimum to 12 hours
  tracker/models/event.py
Due: none

merge migrations
  tracker/migrations/0038_merge_20240213_2207.py
Due: none

wip - add next checkpoint and extra formatting to total watch
  webpack.config.js
Due: prettier, eslint, typescript

merge migrations again
  tracker/migrations/0037_add_incentive_timing.py
  tracker/migrations/0039_merge_20240221_2104.py
Due: none

wip - add run tags
  tests/apiv2/test_runs.py
  tests/test_speedrun.py
  tracker/admin/__init__.py
  tracker/admin/event.py
  tracker/admin/forms.py
  tracker/admin/util.py
  tracker/ajax_lookup_channels.py
  tracker/api/serializers.py
  tracker/lookups.py
  tracker/migrations/0040_add_run_tags.py
  tracker/models/__init__.py
  tracker/models/event.py
  tracker/search_filters.py
  tracker/static/light_trash.css
Due: prettier

wip - better color fix
  tracker/static/light_trash.css
Due: prettier

wip - merge migrations
  tracker/migrations/0041_merge_0039_add_interstitial_anchor_0040_add_run_tags.py
Due: none

wip - anchored interstitials
  .eslintrc
  bundles/admin/scheduleEditor/dragDrop/emptyTableDropTarget.tsx
  bundles/admin/scheduleEditor/dragDrop/speedrunDropTarget.tsx
  bundles/admin/scheduleEditor/index.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/scheduleEditor/speedrunTable.js
  bundles/public/api/actions/models.js
  bundles/public/api/reducers/models.js
  tracker/migrations/0039_add_interstitial_anchor.py
  tracker/models/interstitial.py
  tracker/views/commands.py
Due: prettier, eslint, typescript

wip - more prefetch
  tracker/api/views/run.py
Due: none

wip - add tags to interstitials
  tracker/admin/interstitial.py
  tracker/api/serializers.py
  tracker/migrations/0042_add_interstitial_tags.py
  tracker/models/interstitial.py
  tracker/views/api.py
Due: none

wip - another missing prefetch
  tracker/api/views/interview.py
Due: none

wip - fix some pk/id disagreements
  bundles/admin/app.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - prefetch
  tracker/views/api.py
Due: none

wip - just remove edit from schedule dragdrop for now
  bundles/admin/scheduleEditor/speedrunTable.js
Due: prettier, eslint, typescript

wip - ordered runs must have length
  tests/test_api.py
  tests/test_auth.py
  tests/test_interstitial.py
  tests/test_prize.py
  tests/test_speedrun.py
  tracker/api/views/donations.py
  tracker/models/event.py
  tracker/models/interstitial.py
Due: none

wip - migrations
  tracker/migrations/0039_add_interstitial_anchor.py
Due: none

wip - misc
  tracker/admin/donation.py
  tracker/admin/forms.py
Due: none

wip - fix IPN amount disagreement
  tracker/paypalutil.py
  tracker/views/donateviews.py
Due: none

wip - adjust formatting
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - adjust formatting again
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - show milestones on Total Watch
  bundles/admin/totalWatch.tsx
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/Models.ts
  bundles/public/apiv2/actions/models.ts
  tracker/api/serializers.py
Due: prettier, eslint, typescript

wip - merge migration
  tracker/migrations/0043_merge_20240904_2314.py
Due: none

permissions tweaks (#710)
  bundles/common/Permissions.ts
  tests/test_auth.py
  tests/test_donation.py
  tests/test_donor.py
  tests/util.py
  tracker/admin/bid.py
  tracker/admin/donation.py
  tracker/admin/event.py
  tracker/admin/inlines.py
  tracker/admin/log.py
  tracker/admin/prize.py
  tracker/admin/util.py
  tracker/api/messages.py
  tracker/api/permissions.py
  tracker/lookups.py
  tracker/migrations/0041_permissions_pass.py
  tracker/migrations/0042_search_permissions_rename.py
  tracker/models/donation.py
  tracker/models/log.py
  tracker/models/profile.py
  tracker/search_filters.py
  tracker/views/api.py
Due: prettier, eslint, typescript

update channels from 3.0.5 to 4.1.0 (#713)
  README.md
  setup.py
  tests/requirements.txt
  tests/routing.py
  tests/test_settings.py
Due: none

remove django-ajax-selects
  README.md
  bundles/public/spinner.css
  bundles/public/spinner.tsx
  setup.py
  tests/requirements.txt
  tests/test_admin.py
  tests/test_api.py
  tests/test_donation.py
  tests/test_settings.py
  tests/urls.py
  tracker/admin/__init__.py
  tracker/admin/bid.py
  tracker/admin/country.py
  tracker/admin/donation.py
  tracker/admin/event.py
  tracker/admin/forms.py
  tracker/admin/inlines.py
  tracker/admin/interstitial.py
  tracker/admin/log.py
  tracker/admin/prize.py
  tracker/admin/util.py
  tracker/ajax_lookup_channels.py
  tracker/lookups.py
  tracker/models/event.py
  tracker/search_filters.py
  tracker/templates/admin/tracker/automail_prize_contributors_post.html
  tracker/templates/admin/tracker/automail_prize_winners_accept_notifications_post.html
  tracker/templates/admin/tracker/automail_prize_winners_post.html
  tracker/templates/admin/tracker/automail_prize_winners_shipping_notifications_post.html
Due: prettier, eslint, typescript

remove django-ajax-selects (#715)
  README.md
  bundles/public/spinner.css
  bundles/public/spinner.tsx
  setup.py
  tests/requirements.txt
  tests/test_admin.py
  tests/test_api.py
  tests/test_donation.py
  tests/test_settings.py
  tests/urls.py
  tracker/admin/__init__.py
  tracker/admin/bid.py
  tracker/admin/country.py
  tracker/admin/donation.py
  tracker/admin/event.py
  tracker/admin/forms.py
  tracker/admin/inlines.py
  tracker/admin/interstitial.py
  tracker/admin/log.py
  tracker/admin/prize.py
  tracker/admin/util.py
  tracker/ajax_lookup_channels.py
  tracker/lookups.py
  tracker/models/event.py
  tracker/search_filters.py
  tracker/templates/admin/tracker/automail_prize_contributors_post.html
  tracker/templates/admin/tracker/automail_prize_winners_accept_notifications_post.html
  tracker/templates/admin/tracker/automail_prize_winners_post.html
  tracker/templates/admin/tracker/automail_prize_winners_shipping_notifications_post.html
Due: prettier, eslint, typescript

optimize various queries
  tests/test_api.py
  tests/test_bid.py
  tracker/admin/bid.py
  tracker/api/views/__init__.py
  tracker/api/views/donations.py
  tracker/feeds/runs_calendar.py
  tracker/models/bid.py
  tracker/models/prize.py
  tracker/templates/tracker/prize.html
  tracker/templates/tracker/prizeindex.html
  tracker/views/api.py
  tracker/views/public.py
  webpack.config.js
Due: prettier, eslint, typescript

optimize various queries (#716)
  tests/test_api.py
  tests/test_bid.py
  tracker/admin/bid.py
  tracker/api/views/__init__.py
  tracker/api/views/donations.py
  tracker/feeds/runs_calendar.py
  tracker/models/bid.py
  tracker/models/prize.py
  tracker/templates/tracker/prize.html
  tracker/templates/tracker/prizeindex.html
  tracker/views/api.py
  tracker/views/public.py
  webpack.config.js
Due: prettier, eslint, typescript

add tags to runs, interstitials, and prizes
  bundles/common/Permissions.ts
  tests/apiv2/test_runs.py
  tests/test_api.py
  tests/test_interstitial.py
  tests/test_speedrun.py
  tests/util.py
  tracker/admin/event.py
  tracker/admin/interstitial.py
  tracker/admin/prize.py
  tracker/api/serializers.py
  tracker/migrations/0043_add_model_tags.py
  tracker/models/__init__.py
  tracker/models/event.py
  tracker/models/interstitial.py
  tracker/models/prize.py
  tracker/search_filters.py
  tracker/serializers.py
  tracker/views/api.py
Due: prettier, eslint, typescript

add tags to runs, interstitials, and prizes (#717)
  bundles/common/Permissions.ts
  tests/apiv2/test_runs.py
  tests/test_api.py
  tests/test_interstitial.py
  tests/test_speedrun.py
  tests/util.py
  tracker/admin/event.py
  tracker/admin/interstitial.py
  tracker/admin/prize.py
  tracker/api/serializers.py
  tracker/migrations/0043_add_model_tags.py
  tracker/models/__init__.py
  tracker/models/event.py
  tracker/models/interstitial.py
  tracker/models/prize.py
  tracker/search_filters.py
  tracker/serializers.py
  tracker/views/api.py
Due: prettier, eslint, typescript

support Run editing on V2
  .gitignore
  tests/.gitignore
  tests/apiv2/test_bids.py
  tests/apiv2/test_milestone.py
  tests/apiv2/test_runners.py
  tests/apiv2/test_runs.py
  tests/randgen.py
  tests/test_api.py
  tests/test_speedrun.py
  tests/test_util.py
  tests/util.py
  tracker/api/messages.py
  tracker/api/permissions.py
  tracker/api/serializers.py
  tracker/api/views/__init__.py
  tracker/api/views/bids.py
  tracker/api/views/donations.py
  tracker/api/views/milestone.py
  tracker/api/views/run.py
  tracker/models/__init__.py
  tracker/models/bid.py
  tracker/models/donation.py
  tracker/models/event.py
  tracker/util.py
Due: none

support Run editing on V2 (#719)
  .gitignore
  tests/.gitignore
  tests/apiv2/test_bids.py
  tests/apiv2/test_milestone.py
  tests/apiv2/test_runners.py
  tests/apiv2/test_runs.py
  tests/randgen.py
  tests/test_api.py
  tests/test_speedrun.py
  tests/test_util.py
  tests/util.py
  tracker/api/messages.py
  tracker/api/permissions.py
  tracker/api/serializers.py
  tracker/api/views/__init__.py
  tracker/api/views/bids.py
  tracker/api/views/donations.py
  tracker/api/views/milestone.py
  tracker/api/views/run.py
  tracker/models/__init__.py
  tracker/models/bid.py
  tracker/models/donation.py
  tracker/models/event.py
  tracker/util.py
Due: none
