Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

default_stages: [commit]
exclude: (migrations/|static/(jquery.*|main.css))
repos:
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      name: black
- repo: https://github.com/pycqa/flake8
  rev: 3.7.9
  hooks:
    - id: flake8
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: ./node_modules/.bin/prettier
      language: node
      stages: [commit]
      files: (.*)\.(js|jsx|ts|tsx|css)$
      args: ["--write"]
    - id: eslint
      name: eslint
      entry: yarn fix:lint
      language: system
      stages: [commit]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
    - id: typescript
      name: typescript
      entry: ./node_modules/.bin/tsc
      language: script
      stages: [push]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ["--fix=lf"]

wip - misc fixes
  listperms.py
  package.json
  setup.py
  webpack.config.js
Due: prettier, eslint, typescript

wip - fix milestone admin search
  tracker/admin/donation.py
Due: none

wip - fix total_watch to handle chained bids
  bundles/public/apiv2/Models.ts
  tracker/admin/bid.py
  tracker/api/filters.py
  tracker/api/views/__init__.py
Due: prettier, eslint, typescript

wip - add data to some run pages
  tracker/templates/tracker/run.html
  tracker/templates/tracker/runindex.html
Due: none

wip - fix validation throwing an error
  tracker/admin/interstitial.py
Due: none

wip - fix bid lookup permissions
  tracker/lookups.py
Due: none

wip - change permissions for first-stage donation processors
  tracker/admin/event.py
Due: none

wip - donate form supports chains
  bundles/tracker/donation/__tests__/Donate.spec.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - fix prize with too long provider
  bundles/tracker/prizes/components/PrizeCard.mod.css
Due: prettier

wip - lint fixes
  bundles/public/apiv2/HTTPUtils.tsx
Due: prettier, eslint, typescript

wip - add pinning to bids
  tracker/search_feeds.py
Due: none

wip - fix tests
  tests/test_consumers.py
Due: none

Add back ordering to `with_annotations`
  tracker/models/event.py
Due: none

wip - live page monitors bids
  tracker/eventutil.py
  tracker/search_feeds.py
Due: none

wip - run prefetch
  tracker/views/public.py
Due: none

make EventQuerySet instead of on the Manager
  tracker/models/event.py
Due: none

wip - add schedule viewer to volunteer emails
  tests/test_event.py
  tracker/admin/event.py
Due: none

wip - child state propagation
  tracker/admin/inlines.py
  tracker/models/bid.py
Due: none

wip - donation consumer test
  tests/test_consumers.py
Due: none

wip - total watch shows donation intervals
  bundles/public/api/actions/models.js
  bundles/public/api/actions/paginate.ts
  bundles/public/hooks/useFetchDonors.ts
Due: prettier, eslint, typescript

wip - show step description
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - unpin all unopen bids
  tests/test_bid.py
  tracker/models/bid.py
Due: none

wip - exclude self from uniqueness check
  tracker/models/interstitial.py
Due: none

wip - add temporary hard coded links to v2 processing
  tracker/templates/admin/tracker/extra_actions.html
Due: none

wip - permissions fixes for admin
  tracker/admin/util.py
Due: none

wip - fix event annotations for postgres
  tracker/models/event.py
Due: none

wip - no server error when donationbid is missing bid
  tracker/models/bid.py
Due: none

wip - redirect v2 processing under admin
  tracker/admin/event.py
  tracker/templates/admin/tracker/extra_actions.html
  tracker/ui/urls.py
  tracker/ui/views.py
Due: none

wip - donation queryset helpers
  tracker/models/donation.py
  tracker/search_feeds.py
  tracker/views/public.py
Due: none

wip - permissions check sync
  tracker/consumers/processing.py
Due: none

wip - correct paths for interstitial editor to avoid redirects
  bundles/admin/interstitials/Editor/index.tsx
Due: prettier, eslint, typescript

wip - really fix bid state permissions
  tracker/api/permissions.py
Due: none

wip - adjust how chain steps display
  bundles/tracker/donation/components/DonationIncentives.tsx
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/partials/chaintable.html
  tracker/templates/tracker/partials/option.html
Due: prettier, eslint, typescript

wip - fix specs
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  spec/fixtures/bid.ts
Due: prettier, eslint, typescript

wip - donation socket uses v2 serializer for bid
  bundles/public/apiv2/Models.ts
  tracker/eventutil.py
Due: prettier, eslint, typescript

wip - feed dropdown on total_watch
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/actions/models.ts
  tracker/api/filters.py
  tracker/models/bid.py
Due: prettier, eslint, typescript

wip - save_form
  tracker/admin/util.py
Due: none

wip - correct being able to create/change hidden bids
  tests/apiv2/test_bids.py
  tracker/api/views/bids.py
Due: none

wip - fix interstitial uniqueness
  tracker/models/interstitial.py
Due: none
