Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: prettier
  entry: ./node_modules/.bin/prettier
  language: node
  stages:
  - commit
  args:
  - --write

eslint:
  name: eslint
  entry: yarn fix:lint
  language: system
  stages:
  - commit
  pass_filenames: false

typescript:
  name: typescript
  entry: ./node_modules/.bin/tsc
  language: script
  stages:
  - push
  pass_filenames: false

wip - fix chain_goal computation
  tests/test_bid.py
  tracker/models/bid.py
Due: none

bid/donation event must match (#569)
  tests/test_bid.py
  tracker/models/bid.py
Due: none

add concept of current/next Event (#568)
  tests/test_event.py
  tracker/admin/donation.py
  tracker/admin/forms.py
  tracker/admin/interstitial.py
  tracker/admin/util.py
  tracker/models/event.py
  tracker/ui/views.py
Due: none

add a NotFound component for React routing (#570)
  bundles/admin/app.js
  bundles/public/notFound.tsx
Due: prettier, eslint, typescript

temporarily remove processing MutationButton tooltips to avoid persistence issue (#574)
  bundles/processing/modules/processing/MutationButton.tsx
Due: prettier, eslint, typescript

remove Python 3.7 from supported versions
  azure-pipelines.yml
Due: none

remove Python 3.7 from supported versions (#581)
  azure-pipelines.yml
Due: none

add chained bids (stretch goals) (#566)
  bundles/public/apiv2/Models.ts
  tests/apiv2/test_bids.py
  tests/test_bid.py
  tests/util.py
  tracker/admin/bid.py
  tracker/admin/inlines.py
  tracker/api/serializers.py
  tracker/migrations/0030_add_bid_chain.py
  tracker/models/bid.py
  tracker/search_filters.py
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/bidindex.html
  tracker/templates/tracker/partials/chaintable.html
  tracker/templates/tracker/partials/donor_link.html
  tracker/templates/tracker/partials/option.html
  tracker/templates/tracker/partials/optionstable.html
  tracker/templates/tracker/run.html
  tracker/views/public.py
Due: prettier, eslint, typescript

Add Euros to currency options
  tracker/models/donation.py
  tracker/models/event.py
Due: none

Support euros in the front-end
  bundles/@types/global.d.ts
  bundles/public/util/currency.ts
  bundles/tracker/donation/components/Donate.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/uikit/CurrencyInput.tsx
  tracker/migrations/0031_add_euros_to_donation_and_event.py
Due: prettier, eslint, typescript

Store the currency in the store
  bundles/@types/global.d.ts
  bundles/processing/modules/donations/DonationRow.tsx
  bundles/processing/modules/donations/ModCommentModal.tsx
  bundles/processing/modules/processing/ActionLog.tsx
  bundles/processing/modules/reading/ReadingDonationRowPopout.tsx
  bundles/public/util/currency.ts
  bundles/public/util/currencySpec.ts
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  bundles/tracker/donation/__tests__/validateDonation.spec.ts
  bundles/tracker/donation/components/Donate.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/donation/components/DonationBids.tsx
  bundles/tracker/donation/components/DonationPrizes.tsx
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/donation/validateDonation.ts
  bundles/tracker/event_details/EventDetailsReducer.ts
  bundles/tracker/event_details/EventDetailsStore.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  bundles/tracker/prizes/components/Prize.tsx
  bundles/tracker/prizes/components/PrizeCard.tsx
  bundles/uikit/CurrencyInput.tsx
Due: prettier, eslint, typescript

Set default currency in reducer to make the tests happy
  bundles/public/util/currency.ts
  bundles/public/util/currencySpec.ts
  bundles/tracker/event_details/EventDetailsReducer.ts
Due: prettier, eslint, typescript

Clarify comment
  bundles/tracker/event_details/EventDetailsReducer.ts
Due: prettier, eslint, typescript

Display donation currency on reading and processing pages
  bundles/admin/donationProcessing/processDonations.tsx
  bundles/admin/donationProcessing/processDonationsSpec.tsx
  bundles/admin/donationProcessing/readDonations.tsx
  bundles/admin/donationProcessing/readDonationsSpec.tsx
Due: prettier, eslint, typescript

Extract currency from donation for processing bundle
  bundles/processing/modules/donations/DonationRow.tsx
  bundles/processing/modules/donations/ModCommentModal.tsx
  bundles/processing/modules/processing/ActionLog.tsx
  bundles/processing/modules/reading/ReadingDonationRowPopout.tsx
Due: prettier, eslint, typescript

quick connectionstatus change
  bundles/processing/modules/processing/ConnectionStatus.mod.css
  bundles/processing/modules/processing/ConnectionStatus.tsx
Due: prettier, eslint, typescript

updates for 0.8.1
  bundles/.design_system/generated/Themes.css
  bundles/.design_system/themes.json
  bundles/processing/modules/donation-groups/CreateEditDonationGroupModal.tsx
  bundles/processing/modules/processing/MutationButton.tsx
  bundles/processing/modules/processing/ProcessingModeSelector.tsx
  package.json
  yarn.lock
Due: prettier, eslint, typescript

v0.9.1 compatibility
  bundles/processing/modules/donation-groups/CreateEditDonationGroupModal.tsx
  bundles/processing/modules/processing/ActionLog.tsx
  bundles/processing/modules/processing/ConnectionStatus.tsx
  bundles/processing/modules/processing/MutationButton.tsx
  bundles/processing/modules/processing/ProcessingDonationRow.tsx
  bundles/processing/modules/processing/ProcessingModeSelector.tsx
  bundles/processing/modules/reading/FilterGroupTab.tsx
  bundles/processing/modules/reading/ReadingDonationRow.tsx
  bundles/processing/modules/reading/ReadingDonationRowPopout.tsx
  bundles/processing/modules/settings/PrimaryNavPopout.tsx
  bundles/processing/modules/theming/Theming.tsx
  bundles/processing/pages/ReadDonations.tsx
  package.json
  yarn.lock
Due: prettier, eslint, typescript

implement Jump to Bottom for ReadDonations
  bundles/processing/modules/layout/SidebarLayout.tsx
  bundles/processing/pages/ReadDonations.mod.css
  bundles/processing/pages/ReadDonations.tsx
Due: prettier, eslint, typescript

don't open nav popout multiple times
  bundles/processing/modules/settings/PrimaryNavPopout.tsx
Due: prettier, eslint, typescript

upgrade to 0.10.1 and fix theming crashs
  bundles/processing/App.tsx
  bundles/processing/Theming.tsx
  bundles/processing/modules/donations/DonationRow.mod.css
  design/generate.ts
  design/generated/Themes.tsx
  design/generated/Tokens.tsx
  design/generated/colors.css
  design/generated/fonts.css
  design/generated/radii.css
  design/generated/spacing.css
  design/generated/system.css
  design/generated/themes.css
  design/tokens.ts
  package.json
  yarn.lock
Due: prettier, eslint, typescript

remove old design system files
  bundles/.design_system/base_tokens.json
  bundles/.design_system/generated/ColorTokens.css
  bundles/.design_system/generated/DesignSystem.css
  bundles/.design_system/generated/FontTokens.css
  bundles/.design_system/generated/Spacing.css
  bundles/.design_system/generated/Themes.css
  bundles/.design_system/themes.json
Due: prettier

v0.10.2 for some minor fixes
  package.json
  yarn.lock
Due: none

Various Processing fixes from SGDQ2023 feedback (#586)
  bundles/.design_system/base_tokens.json
  bundles/.design_system/generated/ColorTokens.css
  bundles/.design_system/generated/DesignSystem.css
  bundles/.design_system/generated/Spacing.css
  bundles/.design_system/generated/Themes.css
  bundles/.design_system/themes.json
  bundles/processing/App.tsx
  bundles/processing/Theming.tsx
  bundles/processing/modules/donation-groups/CreateEditDonationGroupModal.tsx
  bundles/processing/modules/donations/DonationRow.mod.css
  bundles/processing/modules/layout/SidebarLayout.tsx
  bundles/processing/modules/processing/ActionLog.tsx
  bundles/processing/modules/processing/ConnectionStatus.mod.css
  bundles/processing/modules/processing/ConnectionStatus.tsx
  bundles/processing/modules/processing/MutationButton.tsx
  bundles/processing/modules/processing/ProcessingDonationRow.tsx
  bundles/processing/modules/processing/ProcessingModeSelector.tsx
  bundles/processing/modules/reading/FilterGroupTab.tsx
  bundles/processing/modules/reading/ReadingDonationRow.tsx
  bundles/processing/modules/reading/ReadingDonationRowPopout.tsx
  bundles/processing/modules/settings/PrimaryNavPopout.tsx
  bundles/processing/modules/theming/Theming.tsx
  bundles/processing/pages/ReadDonations.mod.css
  bundles/processing/pages/ReadDonations.tsx
  design/generate.ts
  design/generated/Themes.tsx
  design/generated/Tokens.tsx
  design/generated/colors.css
  design/generated/fonts.css
  design/generated/radii.css
  design/generated/spacing.css
  design/generated/system.css
  design/generated/themes.css
  design/tokens.ts
  package.json
  yarn.lock
Due: prettier, eslint, typescript

Add event amount and donation count presentation on processing pages (#553)
  bundles/processing/App.tsx
  bundles/processing/modules/donations/ModCommentTooltip.tsx
  bundles/processing/modules/event/EventTotalDisplay.tsx
  bundles/processing/modules/event/EventTotalStore.tsx
  bundles/processing/modules/layout/SidebarLayout.mod.css
  bundles/processing/modules/layout/SidebarLayout.tsx
  bundles/public/apiv2/APITypes.tsx
  bundles/public/apiv2/HTTPUtils.tsx
  bundles/public/apiv2/routes/events.tsx
  bundles/public/apiv2/sockets/ProcessingSocket.tsx
  tests/apiv2/test_serializers.py
  tests/test_consumers.py
  tests/test_event.py
  tracker/api/serializers.py
  tracker/api/views/__init__.py
  tracker/consumers/processing.py
  tracker/eventutil.py
  tracker/models/event.py
Due: prettier, eslint, typescript

add merge queue
  azure-pipelines.yml
Due: none

add merge queue (#588)
  azure-pipelines.yml
Due: none

add indices to aid in search/sort/pagination
  .gitignore
  tracker/migrations/0031_add_donor_cache_indices.py
  tracker/migrations/0032_add_more_indices.py
  tracker/models/donation.py
Due: none

add indices to aid in search/sort/pagination (#589)
  .gitignore
  tracker/migrations/0031_add_donor_cache_indices.py
  tracker/migrations/0032_add_more_indices.py
  tracker/models/donation.py
Due: none

formatting fix
  tests/apiv2/test_serializers.py
Due: none

Always use the requested name for donations on processing pages (#556)
  tests/apiv2/test_serializers.py
  tracker/api/serializers.py
Due: none

wip totalWatch in total
  bundles/admin/app.js
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

donation postbacks include bid information
  tests/test_consumers.py
  tracker/eventutil.py
Due: none

add Milestones to public pages
  tracker/admin/event.py
Due: none

wip - fix Bid typing
  bundles/public/apiv2/Models.ts
Due: prettier, eslint, typescript

wip - correct permissions check for pending bids
  tracker/api/permissions.py
Due: none

wip - show step description
  bundles/tracker/event_details/EventDetailsTypes.ts
Due: prettier, eslint, typescript

wip - fix sidebar wrap
  bundles/processing/modules/layout/SidebarLayout.tsx
Due: prettier, eslint, typescript

wip - fix tests
  tests/test_bid.py
Due: none

wip - re-enable v2 and cap some autocompletes
  tracker/lookups.py
Due: none

Path conditions:
  prettier: any of: (.*)\.(js|jsx|ts|tsx|css)$, but not: (migrations/|static/(jquery.*|main.css))
  eslint: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
  typescript: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
