Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

prettier:
  name: prettier
  entry: ./node_modules/.bin/prettier
  language: node
  stages:
  - commit
  args:
  - --write

eslint:
  name: eslint
  entry: yarn fix:lint
  language: system
  stages:
  - commit
  pass_filenames: false

typescript:
  name: typescript
  entry: ./node_modules/.bin/tsc
  language: script
  stages:
  - push
  pass_filenames: false

wip - permissions check sync
  tracker/consumers/processing.py
Due: none

wip - fix event annotations for postgres
  tracker/models/event.py
Due: none

wip - add temporary hard coded links to v2 processing
  tracker/templates/admin/tracker/extra_actions.html
Due: none

wip - fix total_watch to handle chained bids
  bundles/admin/totalWatch.tsx
  bundles/public/apiv2/Models.ts
  tracker/admin/bid.py
  tracker/api/filters.py
  tracker/api/views/__init__.py
Due: prettier, eslint, typescript

wip - feed dropdown on total_watch
  bundles/admin/totalWatch.tsx
  bundles/public/apiv2/Endpoints.tsx
  bundles/public/apiv2/actions/models.ts
  tracker/api/filters.py
  tracker/models/bid.py
Due: prettier, eslint, typescript

wip - fix sidebar wrap
  bundles/processing/modules/layout/SidebarLayout.tsx
Due: prettier, eslint, typescript

wip - fix prize with too long provider
  bundles/tracker/prizes/components/PrizeCard.mod.css
Due: prettier

wip - donation socket uses v2 serializer for bid
  bundles/admin/totalWatch.tsx
  bundles/public/apiv2/Models.ts
  tracker/eventutil.py
Due: prettier, eslint, typescript

wip - oops
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - fix Bid typing
  bundles/admin/totalWatch.tsx
  bundles/public/apiv2/Models.ts
Due: prettier, eslint, typescript

wip - correct totalWatch for child bids
  bundles/admin/totalWatch.tsx
  tracker/eventutil.py
Due: prettier, eslint, typescript

wip - more totalWatch fixes
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - fix parent total on totalWatch
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - correct permissions check for pending bids
  tracker/api/permissions.py
Due: none

wip - really fix bid state permissions
  tracker/api/permissions.py
Due: none

wip - permissions fixes for admin
  tracker/admin/util.py
Due: none

wip - donate form supports chains
  bundles/tracker/donation/__tests__/Donate.spec.tsx
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/event_details/EventDetailsTypes.ts
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - save_form
  tracker/admin/util.py
Due: none

wip - fix specs
  bundles/tracker/donation/__tests__/validateBid.spec.ts
  spec/fixtures/bid.ts
Due: prettier, eslint, typescript

wip - child state propagation
  tracker/admin/inlines.py
  tracker/models/bid.py
Due: none

wip - redirect v2 processing under admin
  tracker/admin/event.py
  tracker/templates/admin/tracker/extra_actions.html
  tracker/ui/urls.py
  tracker/ui/views.py
Due: none

wip - reconnect totalWatch websocket with the run changes
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - adjust how chain steps display
  bundles/tracker/donation/components/DonationIncentives.tsx
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/partials/chaintable.html
  tracker/templates/tracker/partials/option.html
Due: prettier, eslint, typescript

wip - show step description
  bundles/tracker/donation/components/DonateInitializer.tsx
  bundles/tracker/donation/components/DonationBidForm.tsx
  tracker/ui/views.py
Due: prettier, eslint, typescript

wip - show step description
  bundles/tracker/event_details/EventDetailsTypes.ts
Due: prettier, eslint, typescript

wip - unpin all unopen bids
  tests/test_bid.py
  tracker/models/bid.py
Due: none

wip - add open feed to total_watch
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - open feed fetches current
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - fix tests
  tests/test_consumers.py
Due: none

wip - add schedule viewer to volunteer emails
  tests/test_event.py
  tracker/admin/event.py
Due: none

wip - fix milestone admin search
  tracker/admin/donation.py
Due: none

wip - fix interstitial uniqueness
  tracker/models/interstitial.py
Due: none

wip - exclude self from uniqueness check
  tracker/models/interstitial.py
Due: none

temporarily remove processing MutationButton tooltips to avoid persistence issue
  bundles/processing/modules/processing/MutationButton.tsx
Due: prettier, eslint, typescript

wip - fix bid lookup permissions
  tracker/lookups.py
Due: none

wip - fix chain_goal computation
  tests/test_bid.py
  tracker/models/bid.py
Due: none

wip - show pin icon on total_watch
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - fix get_recent_donations
  tracker/search_feeds.py
Due: none

Path conditions:
  prettier: any of: (.*)\.(js|jsx|ts|tsx|css)$, but not: (migrations/|static/(jquery.*|main.css))
  eslint: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
  typescript: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
