Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript

.pre-commit-config.yaml:

default_stages: [commit]
exclude: (migrations/|static/(jquery.*|main.css))
repos:
- repo: https://github.com/psf/black
  rev: 22.3.0
  hooks:
    - id: black
      name: black
- repo: https://github.com/pycqa/flake8
  rev: 3.7.9
  hooks:
    - id: flake8
- repo: local
  hooks:
    - id: prettier
      name: prettier
      entry: ./node_modules/.bin/prettier
      language: node
      stages: [commit]
      files: (.*)\.(js|jsx|ts|tsx|css)$
      args: ["--write"]
    - id: eslint
      name: eslint
      entry: yarn fix:lint
      language: system
      stages: [commit]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
    - id: typescript
      name: typescript
      entry: ./node_modules/.bin/tsc
      language: script
      stages: [push]
      files: (.*)\.(jsx?|tsx?)$
      pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.4.0
  hooks:
    - id: double-quote-string-fixer
    - id: end-of-file-fixer
    - id: mixed-line-ending
      args: ["--fix=lf"]

wip - correct totalWatch for child bids
  tracker/eventutil.py
Due: none

add amount and donation_count annotations to events, use them in apiv2 events and processing consumer
  tests/test_event.py
  tracker/models/event.py
Due: none

wip - fix get_recent_donations
  tracker/search_feeds.py
Due: none

wip - remove special formatting
  tracker/admin/donation.py
  tracker/static/admin/donation.css
Due: prettier

donation postbacks include bid information (#590)
  tests/test_consumers.py
  tracker/eventutil.py
Due: none

wip - disable donor list/detail pages for now
  tests/test_api.py
  tests/test_bid.py
  tests/test_donation.py
  tests/test_donor.py
  tracker/models/donation.py
  tracker/templates/base.html
  tracker/templates/tracker/bid.html
  tracker/templates/tracker/donation.html
  tracker/templates/tracker/donationindex.html
  tracker/templates/tracker/donor.html
  tracker/templates/tracker/index.html
  tracker/templates/tracker/partials/donor_link.html
  tracker/urls.py
  tracker/views/api.py
Due: none

wip - disable v1 React processing pages
  bundles/admin/app.js
  tests/test_admin.py
  tracker/templates/admin/tracker/extra_actions.html
Due: prettier, eslint, typescript

Fix the prize grid and prize page not showing the proper currency
  bundles/tracker/prizes/components/Prize.tsx
  bundles/tracker/prizes/components/PrizeCard.tsx
  bundles/tracker/prizes/components/Prizes.tsx
Due: prettier, eslint, typescript

Overlooked tests
  bundles/tracker/prizes/components/PrizeCardSpec.tsx
Due: prettier, eslint, typescript

Merge migrations
  tracker/migrations/0033_merge_20230814_1327.py
Due: none

wip - add first step of chain to list
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

upgrade Prettier to 3.x
  bundles/admin/app.js
  bundles/admin/interstitials/Editor/Body.tsx
  bundles/processing/modules/processing/ConnectionStatus.tsx
  bundles/processing/pages/ReadDonations.tsx
  bundles/public/hooks/useCachedCallback.ts
  bundles/public/hooks/useFetchDonorsSpec.tsx
  bundles/public/util/http.ts
  bundles/tracker/donation/components/Donate.tsx
  bundles/uikit/Button.tsx
  bundles/uikit/Checkbox.tsx
  bundles/uikit/Container.tsx
  bundles/uikit/Header.tsx
  bundles/uikit/Icon.tsx
  bundles/uikit/InputWrapper.tsx
  bundles/uikit/RadioGroup.tsx
  bundles/uikit/Text.tsx
  bundles/uikit/TextInput.tsx
  design/generated/Themes.tsx
  package.json
  prettier.config.js
  yarn.lock
Due: prettier, eslint, typescript

upgrade Prettier to 3.x (#598)
  bundles/admin/app.js
  bundles/admin/interstitials/Editor/Body.tsx
  bundles/processing/modules/processing/ConnectionStatus.tsx
  bundles/processing/pages/ReadDonations.tsx
  bundles/public/hooks/useCachedCallback.ts
  bundles/public/hooks/useFetchDonorsSpec.tsx
  bundles/public/util/http.ts
  bundles/tracker/donation/components/Donate.tsx
  bundles/uikit/Button.tsx
  bundles/uikit/Checkbox.tsx
  bundles/uikit/Container.tsx
  bundles/uikit/Header.tsx
  bundles/uikit/Icon.tsx
  bundles/uikit/InputWrapper.tsx
  bundles/uikit/RadioGroup.tsx
  bundles/uikit/Text.tsx
  bundles/uikit/TextInput.tsx
  design/generated/Themes.tsx
  package.json
  prettier.config.js
  yarn.lock
Due: prettier, eslint, typescript

run dedupe
  yarn.lock
Due: none

run dedupe (#597)
  yarn.lock
Due: none

remove storybook
  .storybook/config.js
  .storybook/webpack.config.js
  package.json
  stories/index.stories.js
  yarn.lock
Due: prettier, eslint, typescript

remove storybook (#599)
  .storybook/config.js
  .storybook/webpack.config.js
  package.json
  stories/index.stories.js
  yarn.lock
Due: prettier, eslint, typescript

bump eslint and plugins
  bundles/admin/index.js
  bundles/common/ModelErrors.tsx
  bundles/processing/modules/donation-groups/CreateEditDonationGroupModal.tsx
  bundles/processing/modules/donations/ModCommentModal.tsx
  bundles/processing/modules/donations/SearchKeywordsInput.tsx
  bundles/processing/modules/processing/ProcessingDonationRow.tsx
  bundles/processing/modules/processing/ProcessingModeSelector.tsx
  bundles/processing/modules/reading/FilterGroupTab.tsx
  bundles/processing/modules/reading/ReadingDonationRow.tsx
  bundles/processing/modules/reading/ReadingDonationRowPopout.tsx
  bundles/processing/modules/settings/PrimaryNavPopout.tsx
  bundles/processing/modules/theming/Theming.tsx
  bundles/processing/pages/ProcessDonations.tsx
  bundles/processing/pages/ReadDonations.tsx
  bundles/tracker/donation/components/DonationBids.tsx
  package.json
  yarn.lock
Due: prettier, eslint, typescript

bump karma and plugins
  karma.conf.js
  package.json
  yarn.lock
Due: prettier, eslint, typescript

bump karma and plugins (#601)
  karma.conf.js
  package.json
  yarn.lock
Due: prettier, eslint, typescript

wip - correct paths for interstitial editor to avoid redirects
  bundles/admin/interstitials/Editor/index.tsx
Due: prettier, eslint, typescript

wip - fix tests
  tests/test_bid.py
Due: none

wip - add data to some run pages
  tracker/templates/tracker/run.html
  tracker/templates/tracker/runindex.html
Due: none

wip totalWatch in total
  bundles/admin/app.js
  bundles/admin/totalWatch.tsx
Due: prettier, eslint, typescript

wip - donation queryset helpers
  tracker/models/donation.py
  tracker/search_feeds.py
  tracker/views/public.py
Due: none

wip - total watch shows donation intervals
  bundles/public/api/actions/models.js
  bundles/public/api/actions/paginate.ts
  bundles/public/hooks/useFetchDonors.ts
Due: prettier, eslint, typescript

wip - add pinning to bids
  tracker/search_feeds.py
Due: none

wip - change permissions for first-stage donation processors
  tracker/admin/event.py
Due: none

wip - re-enable v2 and cap some autocompletes
  tracker/lookups.py
Due: none

wip - live page monitors bids
  tracker/eventutil.py
  tracker/search_feeds.py
Due: none

add Milestones to public pages
  tracker/admin/event.py
Due: none

wip - no server error when donationbid is missing bid
  tracker/models/bid.py
Due: none

wip - fix validation throwing an error
  tracker/admin/interstitial.py
Due: none

wip - misc fixes
  listperms.py
  package.json
  setup.py
  webpack.config.js
Due: prettier, eslint, typescript

wip - donation consumer test
  tests/test_consumers.py
Due: none

wip - child state propagation
  tracker/admin/inlines.py
  tracker/models/bid.py
Due: none

wip - permissions fixes for admin
  tracker/admin/util.py
Due: none

wip - permissions check sync
  tracker/consumers/processing.py
Due: none
