Repository GamesDoneQuick/donation-tracker: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint

prettier:
  name: prettier
  entry: ./node_modules/.bin/prettier
  language: node
  stages:
  - commit
  args:
  - --write

eslint:
  name: eslint
  entry: ./node_modules/.bin/eslint
  language: node
  stages:
  - commit
  args:
  - --fix
  - --quiet

HIDDEN bid state propagates again
  tests/randgen.py
  tests/test_bid.py
  tests/test_search_filters.py
  tracker/admin/bid.py
  tracker/models/bid.py
Due: none

remove clean calls that are no longer needed
  tests/test_bid.py
Due: none

hmm
  models/event.py
  templates/tracker/bidindex.html
  templates/tracker/partials/event_links.html
  templates/tracker/prizeindex.html
  templates/tracker/runindex.html
  views/public.py
Due: none

add event-based pagination for certain resources
  tests/test_bid.py
  tests/test_prize.py
  tests/test_speedrun.py
  tracker/static/eventlist.css
  tracker/templates/tracker/eventlist.html
  tracker/templates/tracker/partials/event_links.html
  tracker/views/public.py
Due: prettier

add event-based pagination for certain resources
  tests/test_bid.py
  tests/test_prize.py
  tests/test_speedrun.py
  tracker/models/event.py
  tracker/static/eventlist.css
  tracker/templates/tracker/bidindex.html
  tracker/templates/tracker/eventlist.html
  tracker/templates/tracker/partials/event_links.html
  tracker/templates/tracker/prizeindex.html
  tracker/templates/tracker/runindex.html
  tracker/views/public.py
Due: prettier

clean up new bid state propagation test
  tests/test_bid.py
Due: none

HIDDEN bid state propagates again (#264)
  tests/randgen.py
  tests/test_bid.py
  tests/test_search_filters.py
  tracker/admin/bid.py
  tracker/models/bid.py
Due: none

remove "draw one winner" action
  tracker/admin/prize.py
Due: none

disable certain Prize functionality if SWEEPSTAKES_URL is not set
  README.md
  bundles/tracker/events/components/EventRouter.tsx
  bundles/tracker/index.tsx
  tests/test_prize.py
  tests/test_settings.py
  tracker/models/prize.py
  tracker/templates/base.html
  tracker/templates/tracker/index.html
  tracker/ui/views.py
  tracker/views/public.py
Due: prettier, eslint

whoops somehow missed that one
  tracker/templates/admin/process_donations.html
  tracker/templates/admin/process_pending_bids.html
  tracker/templates/admin/process_prize_submissions.html
Due: none

add numbered aliases
  tests/randgen.py
  tests/test_api.py
  tests/test_donation.py
  tests/test_donor.py
  tests/test_event.py
  tests/util.py
  tracker/admin/donation.py
  tracker/migrations/0009_donation_request_fields_blank.py
  tracker/migrations/0010_add_alias_no.py
  tracker/migrations/0011_backfill_alias.py
  tracker/models/donation.py
  tracker/paypalutil.py
  tracker/static/adminprocessing.js
  tracker/templates/admin/process_donations.html
  tracker/templates/admin/read_donations.html
  tracker/templates/tracker/donor.html
  tracker/templates/tracker/partials/donor_link.html
  tracker/views/api.py
Due: prettier, eslint

fix randgen donors
  tests/randgen.py
Due: none

add a note about sandbox IPNs
  README.md
  webpack.config.js
Due: prettier, eslint

fix randomly failing test
  tests/randgen.py
  tests/test_event.py
Due: none

make it more explicit that these donations are pending
  tests/test_api.py
Due: none

add data migration to load Countries if they are missing
  tracker/fixtures/countries.json
  tracker/migrations/0009_load_countries.py
  tracker/models/country.py
Due: none

add note
  tracker/migrations/0009_load_countries.py
Due: none

remove "draw one winner" action (#266)
  tracker/admin/prize.py
Due: none

add data migration to load Countries if they are missing (#268)
  tracker/fixtures/countries.json
  tracker/migrations/0009_load_countries.py
  tracker/models/country.py
Due: none

upgrade prettier
  package.json
  yarn.lock
Due: none

apply Prettier upgrade changes
  bundles/admin/index.js
  bundles/admin/scheduleEditor/dragDrop/emptyTableDropTarget.js
  bundles/admin/scheduleEditor/dragDrop/speedrunDropTarget.js
  bundles/admin/scheduleEditor/index.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/scheduleEditor/speedrunTable.js
  bundles/public/util/freeze.js
  bundles/tracker/donation/DonationStore.ts
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/event_details/EventDetailsStore.ts
  bundles/tracker/events/EventStore.ts
  bundles/tracker/prizes/PrizeStore.ts
  prettier.config.js
  spec/Suite.tsx
  spec/matchers.js
Due: prettier, eslint

upgrade prettier (#270)
  bundles/admin/index.js
  bundles/admin/scheduleEditor/dragDrop/emptyTableDropTarget.js
  bundles/admin/scheduleEditor/dragDrop/speedrunDropTarget.js
  bundles/admin/scheduleEditor/index.js
  bundles/admin/scheduleEditor/speedrun.js
  bundles/admin/scheduleEditor/speedrunTable.js
  bundles/public/util/freeze.js
  bundles/tracker/donation/DonationStore.ts
  bundles/tracker/donation/validateBid.ts
  bundles/tracker/event_details/EventDetailsStore.ts
  bundles/tracker/events/EventStore.ts
  bundles/tracker/prizes/PrizeStore.ts
  package.json
  prettier.config.js
  spec/Suite.tsx
  spec/matchers.js
  yarn.lock
Due: prettier, eslint

upgrade eslint and several plugins
  .eslintrc
  bundles/@types/matchers-types.d.ts
  bundles/public/orderTarget.tsx
  bundles/tracker/prizes/components/Prize.tsx
  package.json
  yarn.lock
Due: prettier, eslint

upgrade typescript as well
  yarn.lock
Due: none

tweaks requested on PR
  bundles/public/orderTarget.tsx
  package.json
  yarn.lock
Due: prettier, eslint

adjustments for PR
  tracker/migrations/0009_add_interstitials_and_hosts.py
  tracker/models/event.py
  tracker/models/interstitial.py
Due: none

call it Constants instead of Globals
  bundles/admin/index.js
  bundles/admin/interstitials/Editor/index.tsx
  bundles/admin/scheduleEditor/dragDrop/speedrunDropTarget.js
  bundles/common/Constants.tsx
  bundles/common/Globals.tsx
  bundles/public/dropdown.tsx
  bundles/public/orderTarget.tsx
  bundles/public/spinner.tsx
  bundles/public/spinnerSpec.tsx
  bundles/tracker/donation/components/Donate.tsx
  bundles/tracker/donation/components/DonationPrizes.tsx
  bundles/tracker/prizes/components/Prize.tsx
  bundles/tracker/prizes/components/Prizes.tsx
Due: prettier, eslint

rename fields in bundles
  bundles/admin/interstitials/Editor/Rows/InterviewRow.tsx
  bundles/common/Models.ts
  check_migrations.py
  runtests.py
Due: prettier, eslint

merge migration
  tracker/migrations/0010_merge_20200926_1759.py
Due: none

constants after merge
  bundles/tracker/events/components/EventRouter.tsx
Due: prettier, eslint

move new file
  tracker/signals.py
Due: none

adjust column name
  tests/test_api.py
  tests/test_donor.py
  tracker/migrations/0010_add_alias_num.py
  tracker/migrations/0011_backfill_alias.py
  tracker/migrations/0012_merge_20200928_1510.py
  tracker/models/donation.py
  tracker/paypalutil.py
  tracker/templates/admin/process_donations.html
  tracker/templates/admin/read_donations.html
  tracker/views/api.py
Due: none

prettier miss?
  bundles/common/Util.ts
Due: prettier, eslint

CI was not actually checking Prettier problems
  bundles/common/Util.ts
  package.json
Due: prettier, eslint

another merge migration
  tracker/migrations/0013_merge_20200928_1548.py
Due: none

add preliminary celery tasks (#254)
  README.md
  requirements.txt
  setup.py
  tests/test_donation.py
  tests/test_tasks.py
  tracker/admin/donation.py
  tracker/consumers/__init__.py
  tracker/consumers/celery.py
  tracker/routing.py
  tracker/tasks.py
  tracker/templates/tracker/celery.html
  tracker/urls.py
  tracker/views/public.py
Due: none

upgrade eslint, eslint plugins, and Typescript (#271)
  .eslintrc
  bundles/@types/matchers-types.d.ts
  bundles/public/orderTarget.tsx
  bundles/tracker/prizes/components/Prize.tsx
  package.json
  yarn.lock
Due: prettier, eslint

fix test after merge
  tests/test_tasks.py
Due: none

add numbered aliases (#267)
  README.md
  tests/randgen.py
  tests/test_api.py
  tests/test_donation.py
  tests/test_donor.py
  tests/test_event.py
  tests/test_tasks.py
  tests/util.py
  tracker/admin/donation.py
  tracker/migrations/0009_donation_request_fields_blank.py
  tracker/migrations/0010_add_alias_num.py
  tracker/migrations/0011_backfill_alias.py
  tracker/migrations/0012_merge_20200928_1510.py
  tracker/migrations/0013_merge_20200928_1548.py
  tracker/models/donation.py
  tracker/paypalutil.py
  tracker/static/adminprocessing.js
  tracker/templates/admin/process_donations.html
  tracker/templates/admin/read_donations.html
  tracker/templates/tracker/donor.html
  tracker/templates/tracker/partials/donor_link.html
  tracker/views/api.py
  webpack.config.js
Due: prettier, eslint

Path conditions:
  prettier: any of: (.*)\.(js|jsx|ts|tsx|css)$, but not: (migrations/|static/(jquery.*|main.css))
  eslint: any of: (.*)\.(jsx?|tsx?)$, but not: (migrations/|static/(jquery.*|main.css))
